@import './../vars.scss';


.section-ecosystem{
    background: center / cover no-repeat url('./../../assets/image/section-ecosystem.jpg');
    height: 648px;
    overflow: hidden;

    &-wrap{
        max-width: 1920px;
        height: 100%;
        margin: 0 auto;
    }

    &__content{
        position: relative;
        max-width: 1188px;
        height: 100%;

        &-svg{
            position: absolute;

            width: 1061px;
            height: 838px;

            bottom: 0px;
            left: -26px;

            @include laptop{
                left: -140px;
                width: 800px;
            }

            @include tablet{
                left: -320px;
                width: 760px;
            }
        }

        &-text{
            position: absolute;
            max-width: 643px;
            right: 150px;
            top: 137px;

            &-title{
                color: $color-white;
                font-weight: 800;
                font-size: 44px;
                line-height: 60px;
                text-transform: uppercase;
                margin-bottom: 18px;

                @include laptop{
                    font-size: 32px;
                    line-height: 44px;
                    margin-bottom: 24px;
                }

                @include tablet{
                    font-size: 24px;
                    margin-bottom: 12px;
                }

            }

            &-desc{
                max-width: 510px;
                color: $color-white;
                font-weight: 500;
                font-size: 24px;
                line-height: 33px;

                @include laptop{
                    font-size: 18px;
                    line-height: 25px;
                }

                @include tablet{
                    font-size: 16px;
                }

            }

            @include laptop{
                max-width: 444px;
                left: 190px;
                right: auto;
            }

            @include tablet{
                max-width: 350px;
                left: 15px;
                right: auto;
            }

        }

        &-link{
            position: absolute;
            right: 0px;
            bottom: 93px;

            height: 210px;
            width: 210px;

            border-radius: 50%;
            overflow: hidden;

            display: flex;
            justify-content: center;
            align-items: center;

            z-index: 1;

            @include laptop{
                right: auto;
                left: 600px;
            }

            @include tablet{
                right: 15px;
                bottom: 65px;
                left: auto;
            }

            @include phone {
                bottom: 15px;
            }

            &-background{
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 100%;
                background: $color-white;
                transition: .4s ease;

                &--hover{
                    z-index: 2;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(270.16deg, #3CDDE4 -13.86%, #7E23D1 125.58%);
                    opacity: 0;
                    transition: .4s ease;
                }

            }

            &-text{
                z-index: 3;
                position: absolute;
                padding: 28px;

                transition: .4s ease;

                font-weight: 800;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                text-transform: uppercase;
                color: $color-dark;
                text-decoration: none;
            }

            

            &:hover{
                .section-ecosystem__content-link-text{
                    color: $color-white;
                }

                .section-ecosystem__content-link-background--hover{
                    opacity: 1;
                }

            }

        }

    }
    

}


.section-list{
    position: relative;
    overflow: hidden;
    z-index: 1;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: relative;
        padding: 84px 0;
        z-index: 2;

        @include laptop{
            padding: 44px 90px;
        }

        @include tablet{
            padding: 70px 16px;
            gap: 24px;
        }

    }

    &__background{
        position: absolute;
        height: 100%;
        width: 100%;
        
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 1;

        *{
            transition: .1s ease;
        }

        @include tablet{
            position: initial;
            transform: translate(0%, 0);
            height: 350px;
            padding-bottom: 40px;
        }

    }

    &__title{
        @include tablet{
            margin-bottom: 16px;
        }
    }

    &__item{
        padding-left: 42px;
        position: relative;

        max-width: 665px;

        @include laptop{
            max-width: 355px;
        }

        @include tablet{
            max-width: 100%;
        }

        &::after{
            content: attr(list-count);
            position: absolute;
            top: 0;
            left: 0;

            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
            text-align: right;
            text-transform: uppercase;
            color: $color-dark;

            @include laptop{
                font-size: 20px;
            }

        }

        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            color: $color-dark;
            margin-bottom: 16px;

            @include laptop{
                font-size: 20px;
            }

        }

        &-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $color-gray;
            margin-bottom: 16px;

        }

        &-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            padding: 12px 40px;

            transition: .4s ease;

            border: 1px solid $color-purple;
            border-radius: 61px;

            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-purple;

            background-color: $color-white;

            @include laptop{
                padding: 12px 18px;
            }

            &-wrap{
                display: flex;
                flex-wrap: wrap;
                gap: 17px;

                @include tablet{
                    gap: 12px;
                }
            }

            &-icon{
                min-height: 11px;
                max-height: 11px;
                min-width: 11px;
                max-width: 11px;
                fill: $color-purple;
                margin-left: 10px;
            }

            &:hover{
                color: $color-white;
                background-color: $color-purple;
                &-icon{
                    fill: $color-white;
                }
            }

        }

    }

    &--right {
        background-color: $color-dark;

        .section-list__content{
            align-items: end;

            .section-list__item{
        
                &::after{
                    color: $color-white;
                }
        
                &-title{
                    color: $color-white;
                }
        
                &-text{
                    color: $color-white-light;
                }

                &-btn{
                    border: 1px solid $color-blue;
                    color: $color-blue;
                    background-color: $color-dark;
        
                    &-icon{
                        height: 11px;
                        width: 11px;
                        fill: $color-blue;
                        margin-left: 10px;
                    }
        
                    &:hover{
                        color: $color-white;
                        background-color: $color-blue;

                        &-icon{
                            fill: $color-white;
                        }

                    }
        
                }
        
            }

        }

        .section-list__background{
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);

        }

    }

}


.section-help-link{
    position: relative;
    padding: 92px 0;

    @include laptop{
        padding: 42px 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        z-index: 1;

        @include tablet{
            flex-direction: column;
            align-items: end;
        }
    }

    &__text{
        z-index: 2;
        max-width: 560px;

        @include tablet{
            max-width: 1000px;
        }

        &-h2{
            margin-bottom: 28px;

            @include laptop{
                margin-bottom: 20px;
            }

        }

        &-p{
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            color: $color-dark;

            @include laptop{
                font-size: 18px;
            }

            @include tablet{
                font-size: 16px;
            }

        }

    }

    &__btn{
        z-index: 2;

        min-width: 210px;
        max-width: 210px;
        min-height: 210px;
        max-height: 210px;

        margin-left: 25%;

        box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
        border-radius: 150px;

        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;

        &-text{
            padding: 26px;
            font-size: 18px;

            @include laptop{
                font-size: 16px;
            }

        }

        @include laptop{
            margin-left: 40px;

            min-width: 169px;
            max-width: 169px;
            min-height: 169px;
            max-height: 169px;
        }

    }

    &__background{
        position: absolute;
        right: 0;
        width: 912px;
        
        @include laptop{
            width: 50%;
            height: 600px;
            object-fit: cover;
        }

        &-wrap{
            z-index: 1;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0 );
    
            height: 100%;
            width: 100%;
    
            overflow: hidden;

        }

    }

    &--black{
        background-color: $color-dark;
        .section-help-link__text{
            max-width: 571px;

            @include tablet{
                max-width: 1000px;
            }

            &-h2{
                color: $color-white;
            }

            &-p{
                color: $color-white-light;
            }

        }

        .section-help-link__btn{
            margin-left: 90px;
        }

    }

}


.section-tools{
    background-color: $color-dark;
    background-image: url(./../../assets/image/section-tools.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 100px 0;

    @include laptop{
        padding: 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    overflow: hidden;

    &__wrap{
        position: relative;
    }

    &__header{
        display: flex;
        align-items: center;
        gap: 100px;
        margin-bottom: 70px;

        @include tablet{
            flex-direction: column;
            align-items: start;
            gap: 24px;
            margin-bottom: 24px;
        }

    }

    &__title{
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        text-transform: uppercase;
        color: $color-white;

    }

    &__input{
        background: rgba(255, 255, 255, 0);
        border: 0px solid $color-blue;

        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: $color-blue;

        margin: 0px 12px;

        width: 100%;

        &-search{
            width: 14px;
            height: 14px;
            fill: $color-blue;
        }

        &-label{
            height: 45px;
            max-width: 384px;
            width: 100%;

            padding: 12px 20px;
            border: 1px solid $color-blue;
            border-radius: 61px;

            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover{
                cursor: pointer;
            }

            @include tablet{
                max-width: 1000px;
            }

        }

        &-clear{
            width: 13px;
            height: 13px;
        }

    }

    &__items{
        display: grid;
        gap: 62px 16px;

        grid-template-columns: repeat(auto-fill, minmax(300px, max-content));

        @include laptop{
            grid-template-columns: repeat(auto-fill, minmax(252px, max-content));
            gap: 12px;
        }

    }

    &__item{
        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            color: $color-white;
            margin-bottom: 16px;

            @include laptop{
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
            }

        }

        &-list{
            @include laptop{
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
            }

            &-item{
                position: relative;
                list-style: none;

                font-size: 18px;
                margin-left: 21px;
                color: $color-white-light;

                &::before{
                    content: '•';
                    position: absolute;
                    font-size: 16px;
                    top: 0px;
                    left: -20px;
                }

                b{
                    font-weight: 400;
                    background: $color-blue;
                    mix-blend-mode: difference;
                    border-radius: 5px;
                }

                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    text-decoration: none;
                    color: $color-white-light;
                }

                &:hover{
                    cursor: pointer;
                }

            }

        }

    }

    &__background{
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        &-circle{
            &-1{
                position: absolute;
                right: 0;

                @include laptop{
                    height: 468px;
                    width: 468px;
                }

            }

            &-2{
                position: absolute;
                right: 0;

                @include laptop{
                    height: 349px;
                    width: 349px;
                }

            }

        }

    }

}


.section-resources{
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    z-index: 1;

    @include laptop{
        padding: 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    &-wrap{
        position: relative;
        z-index: 2;
    }

    &__title{
        margin-bottom: 70px;
        max-width: 632px;

        @include laptop{
            margin-bottom: 50px;
        }

    }

    &__list{
        left: 20px;
        list-style: none;
        margin-left: 50px;
        max-width: 632px;

        @include laptop{
            max-width: 350px;
            margin-left: 35px;
        }

        &-wrap{
            max-width: 652px;
        }

        &-item{
            position: relative;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            color: $color-dark;

            @include laptop{
                font-size: 20px;
            }

            &::before{
                content: attr(list-counter);
                position: absolute;
                font-size: 20px;
                top: 0px;
                left: -50px;
    
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
                text-transform: uppercase;
                color: $color-dark;

                @include laptop{
                    font-size: 20px;
                    left: -35px;
                }

            }

            ul{
                position: relative;
                left: 0;
                margin: 16px 0 20px 25px;

                li{
                    position: relative;

                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    color: $color-gray;
                    text-transform: none;
                    margin-bottom: 0;

                    @include laptop{
                        font-size: 16px;
                    }

                    &::before{
                        content: '•';
                        position: absolute;
                        font-size: 20px;
                        top: -2px;
                        left: -20px;
                    }
                }
            }
        }
    }

    &__background{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        z-index: 1;
        width: 100%;

        @include laptop{
            transform: translate(-25%, 0) scale(0.8);
        }

        @include tablet{
            transform: translate(-15%, 0) scale(0.6);
            top: 15%;
        }

        @include phone{
            position: relative;
            height: 350px;
            transform: translate(-15%, -50%) scale(0.6);
        }

        &-img{
            position: absolute;
            top: 100px;
            right: 140px;
            height: 555px;
            width: 555px;
            border-radius: 50%;

            background: right / cover no-repeat url('./../../assets/image/section-resources-1.jpg');

        }

        &-small{
            position: absolute;
            top: 130px;
            right: 240px;
        }

        &-medium{
            position: absolute;
            top: 281px;
            right: 630px;
        }

        &-circle{
            position: absolute;
            top: 510px;
            right: 20px;
        }

    }


    &--black{
        background-color: $color-dark;
        *{
            color: $color-white;
            ul li{
                color: $color-white-light;
                &::before{
                    color: $color-white-light;
                }
            }
            &::before{
                color: $color-white;
            }
        }

        .section-resources__list{
            ul{
                position: initial;
            }

            &-wrap{
                position: relative;
                max-width: $width-content;

                display: flex;
                justify-content: end;

            }
            
        }

        .section-resources__background{
            @include laptop{
                transform: translate(-60%, 0) scale(0.8);
            }

            @include tablet{
                transform: translate(-75%, 0) scale(0.6);
                top: 15%;
            }

            @include phone{
                position: relative;
                height: 350px;
                transform: translate(-60%, -30%) scale(0.6);
            }

            &-img{
                left: 240px;
                background: center / cover no-repeat url('./../../assets/image/section-resources-2.jpg');
    
                @include laptopL{
                    left: 0px;
                }

            }
    
            &-small{
                top: 80px;
                left: 260px;

                @include laptopL{
                    left: 0px;
                }

            }
    
            &-medium{
                top: 170px;
                left: 690px;

                @include laptopL{
                    left: 430px;
                }

            }
    
            &-circle{
                left: 20px;

                @include laptopL{
                    left: 0px;
                }

            }
    
        }

    }

}


.section-help-form{
    padding: 100px 0px;

    background: center / cover no-repeat url('./../../assets/image/section-help-form.png');

    @include laptop{
        padding: 70px 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }
    
    &__content{
        &-h2{
            color: $color-dark;
            margin-bottom: 23px;

            @include laptop{
                margin-bottom: 28px;
            }

            @include tablet{
                margin-bottom: 16px;
            }

        }

        &-p{
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            color: $color-dark;
            margin-bottom: 36px;

            @include laptop{
                margin-bottom: 32px;
            }

            @include tablet{
                font-size: 16px;
                margin-bottom: 24px;
            }

        }

        &-form{
            display: flex;
            align-items: center;

            @include tablet{
                flex-direction: column;
                align-items: end;
                gap: 28px;
            }

            input, textarea {
                padding: 12px 20px;
                background: rgba(255, 255, 255, 0.569);
                border: 1px solid $color-purple;
                border-radius: 27px;
                resize: none
            }

            &-wrap{
                max-width: 752px;
                width: 100%;
                display: grid;
                gap: 12px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 45px 150px;

                @include tablet{
                    display: flex;
                    flex-direction: column;
                }

            }

            &-text{
                grid-column: span 2;
            }

            &-btn{
                display: flex;
                align-items: center;
                justify-content: center;

                min-width: 210px;
                min-height: 210px;
                max-width: 210px;
                max-height: 210px;

                background: linear-gradient(244.27deg, $color-blue 13.54%, $color-purple 87.32%);
                box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
                border: none;
                border-radius: 50%;

                font-weight: 800;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;

                margin-left: 80px;

                @include laptop{
                    min-width: 169px;
                    min-height: 169px;
                    max-width: 169px;
                    max-height: 169px;

                    margin-left: 40px;

                }

            }

        }

    }

}


.section-customers{
    padding: 100px 0;

    @include laptop{
        padding: 80px 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__title{
        margin-bottom: 80px;

        @include tablet{
            margin-bottom: 40px;
        }

    }
    
    &__slider{
        &-line{
            &-wrap{

            }

            &-item{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 20px;
            }

        }

        &-item-img{
            width: 100%;
            max-height: 105px;
            object-fit: contain;
        }

    }

}


.section-company{
    padding: 100px 0;

    background-color: $color-white;
    background-image: url(./../../assets/image/section-tools.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include laptop{
        padding: 70px 90px;
    }
    
    @include tablet{
        padding: 70px 15px;
    }

    &__title{
        margin-bottom: 50px;
    }

    &__diagram{
        width: 100%;
        object-fit: cover;

        @include laptop{
            display: none;
        }

        &--laptop{
            display: none;
            width: 100%;

            @include laptop{
                display: block;
            }

            @include phone{
                display: none;
            }

        }

        &--phone{
            display: none;
            width: 100%;

            @include phone{
                display: block;
            }

        }

    }

}


.section-cases{
    background-color: $color-white;
    padding: 100px 0;

    @include laptop{
        padding: 50px 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__title{
        color: $color-dark;
        margin-bottom: 52px;
    }

    &__slider{
        &-line{
            &-item{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                grid-auto-flow: column;
                gap: 30px 16px;

                @include laptop{
                    gap: 28px 20px;
                }

                @include phone{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

            }

        } 

        &-item{
            &-img{
                width: 129px;
                height: 87px;

                @include tablet{
                    width: 152px;
                    height: 102px;
                    margin-bottom: 20px;
                }

            }

            &-h3{
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                text-transform: uppercase;
                color: $color-black;
                margin-bottom: 16px;

                @include laptop{
                    font-size: 20px;
                    margin-bottom: 12px;
                }
            }

            &-p{
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: $color-gray;

                @include laptop{
                    font-size: 16px;
                }
            }

            &-list{

                &-item{
                    list-style: none;
                    position: relative;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    color: $color-gray;
                    margin-left: 20px;

                    &::before{
                        content: '•';
                        position: absolute;
                        font-size: 18px;
                        top: 1px;
                        left: -20px;
                    }

                }

            }

        }

    }

}


.section-reviews{
    padding: 120px 0;
    background-color: $color-dark;

    @include laptop{
        padding: 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__title{
        margin-bottom: 70px;
        @include laptop{
            margin-bottom: 50px;
        }
    }

    &__slider{
        &-line{
            &-item{
                display: flex;
                gap: 52px;

                @include phone{
                    flex-direction: column;
                    align-items: center;
                }

                &-img{
                    box-shadow: 0px 3px 17px rgba(77, 67, 87, 0.06);
                    border-radius: 10px;

                    @include phone{
                        width: 255px;
                        height: 360px;
                    }

                }

                &-content{
                    display: flex;
                    flex-direction: column;
                    gap: 28px;

                    &-quotation{
                        width: 56px;
                        height: 46px;

                        @include laptop{
                            width: 36px;
                            height: 30px;
                        }
                    }

                    &-text{
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 120%;
                        color: $color-white-light;
                        
                        @include laptop{
                            font-size: 16px;
                        }
                    }

                    &-autor{
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 130%;
                        color: $color-white;

                        @include laptop{
                            font-size: 18px;
                        }
                        
                        b{
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 26px;
                            text-transform: uppercase;

                            @include laptop{
                                font-size: 20px;
                            }

                        }
                        
                    }

                }

            }

        }

    }

}


.section-tasks{
    background-color: $color-dark;
    padding: 100px 0 20px 0;

    @include laptop{
        padding: 50px 90px 20px 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__title{
        color: $color-white;
    }

    &__slider{
        &-line{
            &-item{
                display: flex;

                @include phone{
                    display: block;
                }

                &-img{
                    position: relative;
                    padding: 80px 50px;

                    &-content{
                        width: 255px;
                        height: 255px;
                        border-radius: 250px;
                    }

                    &-svg{
                        position: absolute;
                        left: 26px;
                        top: 50%;
                    }

                }

                &-content{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 32px;

                    @include laptop{
                        gap: 18px;
                    }

                    &-p{
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 44px;
                        text-transform: uppercase;
                        color: $color-white;

                        @include laptop{
                            font-size: 20px;
                        }
                    }

                    &-list{
                        list-style: none;
                        padding-left: 20px;
                        
                        &-item{
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 120%;
                            color: #B7ACC2;
                            position: relative;

                            @include laptop{
                                font-size: 18px;
                            }
                            
                            &::before{
                                content: '•';
                                position: absolute;
                                font-size: 18px;
                                top: 1px;
                                left: -20px;

                                @include laptop{
                                    font-size: 16px;
                                }
                            
                            }

                        }

                    }

                    &-btn{
                        padding: 16px 40px;
                        max-width: 314px;
                        border-radius: 61px;
                        text-decoration: none;

                        @include phone{
                            max-width: 500px;
                        }

                        &-text{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            text-transform: uppercase;
                            color: $color-white;
                        }

                    }

                }

            }

        }

    }

}


.section-info{
    background-color: $color-white;
    background-image: url(./../../assets/image/section-tools.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    padding: 100px 0;
    z-index: 1;

    @include laptop{
        padding: 50px 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__content{
        &-h2{
            font-weight: 800;
            font-size: 36px;
            line-height: 49px;
            text-transform: uppercase;
            color: $color-dark;
            margin-bottom: 24px;
            max-width: 656px;
            z-index: 2;

            @include laptop{
                max-width: 410px;
            }

            @include phone{
                font-size: 24px;
                margin-bottom: 12px;
            }

        }

        &-p{
            font-weight: 500;
            font-size: 18px;
            line-height: 135%;
            color: $color-gray;
            margin-bottom: 40px;
            max-width: 656px;
            z-index: 2;

            @include laptop{
                max-width: 410px;
            }

            @include phone{
                font-size: 16px;
                margin-bottom: 28px;
            }
        }

        &-list{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(568px, max-content));
            z-index: 2;

            &-item{
                font-weight: 500;
                font-size: 18px;
                line-height: 135%;
                color: $color-gray;

                list-style: none;
                position: relative;
                margin-left: 20px;

                &::before{
                    content: '•';
                    position: absolute;
                    font-size: 22px;
                    top: 1px;
                    left: -20px;
                }

            }

            @include laptop{
                max-width: 410px;
            }

        }

        &-map{
            display: none;

            @include phone{
                display: block;
                width: 100%;
                margin-bottom: 24px;
            }

        }

    }

    &__wrap{
        position: relative;
    }
    &__map{
        z-index: 1;
        position: absolute;
        right: 0;
        top: 73px;

        @include laptopL{
            right: -540px;
        }

        @include phone{
            display: none;
        }

    }

}



.section-mission{
    background-color: $color-dark;
    background-image: url(./../../assets/image/section-mission.png);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 86px 0;
    overflow: hidden;
    position: relative;

    @include laptop{
        padding: 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 56px;

        @include phone{
            gap: 28px;
        }

        &-wrap{
            max-width: 650px;
            width: 100%;

            @include laptop{
                max-width: 455px;
            }

            @include tablet{
                max-width: 100%;
            }

        }

        &-h3{
            font-weight: 500;
            font-size: 24px;
            line-height: 42px;
            text-transform: uppercase;
            color: $color-white;

            @include laptop{
                font-size: 18px;
            }

        }

        &-h2{
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            text-transform: uppercase;
            color: $color-white;

            @include laptop{
                font-size: 28px;
                margin-bottom: 6px;
            }

            @include phone{
                font-size: 24px;
            }

        }

        &-p{
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            color: $color-white-light;

            @include laptop{
                font-size: 18px;
            }

            @include phone{
                font-size: 16px;
            }

            &:nth-child(0){
                margin-bottom: 50px;
            }

        }

    }

    &__background{
        position: absolute;
        height: 100%;
        width: 100%;

        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        @include laptop{
            transform: translate(-60%, 0) scale(0.7);
        }

        @include tablet{
            position: relative;
            height: 300px;
        }

        @include phone{
            transform: translate(-60%, 0) scale(0.5);
            height: 250px;
        }

        &-ellipse{
            &-wrap{
                position: absolute;
                width: 392px;
                transform: translate(-50%, 0);

                @include laptop{
                    transform: translate(0%, 0);
                }

            }

            &-1{
                position: absolute;
                top: 85px;
            }

            &-2{
                position: absolute;
                top: 85px;
            }

        }

    }

}


@import './../vars.scss';