.section-ecosystem {
  background: 0px -200px/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg");
}
@media screen and (max-width: 768px) {
  .section-ecosystem {
    background: right/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg");
  }
}
@media screen and (max-width: 425px) {
  .section-ecosystem {
    background: 85%/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg");
  }
}

.section-single {
  padding: 72px 0px;
  min-height: 630px;
  display: flex;
  align-items: center;
}
.section-single-wrap {
  display: flex;
  gap: 94px;
}
.section-single__content-max-570 {
  max-width: 570px;
}
.section-single__content-title {
  margin-bottom: 36px;
}
.section-single__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #4D4357;
}
.section-single__content-btn {
  margin-top: 40px;
  padding: 16px 48px;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0px 9px 21px rgba(45, 189, 182, 0.13);
  border-radius: 61px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.section-single__background {
  position: relative;
}
.section-single__background-img {
  width: 474px;
  height: 474px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-single__background-wrap {
  width: 554px;
  height: 554px;
  position: absolute;
  top: -40px;
  left: -40px;
}
.section-single__background-svg {
  transform: rotate(var(--scrollRotate));
  pointer-events: none;
}
.section-single__background-svg-p {
  position: absolute;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
  border-radius: 61px;
}
.section-single__background-svg-p-quantitative {
  top: 102px;
  left: -6px;
  background-color: #7429BF;
}
.section-single__background-svg-p-quality {
  top: 50%;
  right: -93px;
  background-color: #33DCD8;
  transform: translate(0%, -50%);
}
.section-single__background-svg-p-rooms {
  bottom: 102px;
  left: -6px;
  background-color: #04B8FF;
}
.section-single .parallax-bird {
  transform: translate(205px, -55px);
}
.section-single .parallax-bird .parallax-bird__mask {
  transform: translate(-75%, -10%);
}
.section-single--background {
  background: center/cover no-repeat url("./../../assets/image/section-help-form.png");
}
.section-single--revert .section-single-wrap {
  flex-direction: row-reverse;
}
.section-single--revert .section-single-wrap .section-single__background {
  width: 50%;
  height: 100%;
}
.section-single--black {
  background-color: #2E2735;
}
.section-single--black * {
  color: #fff;
}