@charset "UTF-8";
.section-ecosystem {
  background: 0px -200px/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 1024px) {
  .section-ecosystem {
    background: 0px 0px/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media screen and (max-width: 768px) {
  .section-ecosystem {
    background: right/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-ecosystem {
    background: right/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-ecosystem {
    background: right/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-ecosystem {
    background: right/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-ecosystem {
    background: right/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media screen and (max-width: 425px) {
  .section-ecosystem {
    background: 85%/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-ecosystem {
    background: 85%/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-ecosystem {
    background: 85%/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-ecosystem {
    background: 85%/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-ecosystem {
    background: 85%/cover no-repeat url("./../../assets/image/section-ecosystem-3.jpg") !important;
  }
}

.section-single {
  padding: 72px 0px;
  min-height: 630px;
  display: flex;
  align-items: center;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 1024px) {
  .section-single {
    padding: 70px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-single {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single {
    padding: 70px 16px;
  }
}
.section-single-no-min {
  min-height: 100px;
}
.section-single__content {
  z-index: 2;
}
.section-single__content-max-570 {
  max-width: 570px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 1024px) {
  .section-single__content-max-570 {
    max-width: 452px;
  }
}
@media screen and (max-width: 768px) {
  .section-single__content-max-570 {
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single__content-max-570 {
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single__content-max-570 {
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single__content-max-570 {
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single__content-max-570 {
    max-width: 100%;
  }
}
.section-single__content-max-660 {
  max-width: 660px;
}
@media screen and (max-width: 1024px) {
  .section-single__content-max-laptop-430 {
    max-width: 430px;
  }
}
.section-single__content-title {
  margin-bottom: 36px;
}
@media screen and (max-width: 1024px) {
  .section-single__content-title {
    margin-bottom: 24px;
  }
}
.section-single__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #4D4357;
}
@media screen and (max-width: 1024px) {
  .section-single__content-text {
    font-size: 16px;
  }
}
.section-single__content-text-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .section-single__content-text-title {
    font-size: 20px;
    margin-bottom: 11px;
  }
}
.section-single__content-list {
  margin: 0 0 50px 0;
}
@media screen and (max-width: 1024px) {
  .section-single__content-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}
.section-single__content-list-item {
  position: relative;
  list-style: none;
  font-size: 18px;
  margin-left: 21px;
  color: #4D4357;
}
.section-single__content-list-item::before {
  content: "•";
  position: absolute;
  font-size: 16px;
  top: 0px;
  left: -20px;
}
.section-single__content-list-item b {
  font-weight: 400;
  background: #33DCD8;
  mix-blend-mode: difference;
  border-radius: 5px;
}
.section-single__content-list-item a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none;
  color: #B7ACC2;
}
.section-single__content-list-item:hover {
  cursor: pointer;
}
.section-single__content-btn {
  margin-top: 40px;
  padding: 16px 48px;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0px 9px 21px rgba(45, 189, 182, 0.13);
  border-radius: 61px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.section-single__content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 12px 40px;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 16px;
  transition: 0.4s ease;
  border: 1px solid #7429BF;
  border-radius: 61px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #7429BF;
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-single__content-link {
    padding: 12px 18px;
  }
}
.section-single__content-link-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .section-single__content-link-wrap {
    gap: 12px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single__content-link-wrap {
    gap: 12px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single__content-link-wrap {
    gap: 12px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single__content-link-wrap {
    gap: 12px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single__content-link-wrap {
    gap: 12px;
  }
}
.section-single__content-link-icon {
  min-height: 11px;
  max-height: 11px;
  min-width: 11px;
  max-width: 11px;
  fill: #7429BF;
  margin-left: 10px;
}
.section-single__content-link:hover {
  color: #fff;
  background-color: #7429BF;
}
.section-single__content-link:hover-icon {
  fill: #fff;
}
.section-single__background {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .section-single__background {
    position: absolute;
    right: -90px;
    transform: scale(0.7);
  }
}
.section-single__background--no-scale {
  transform: scale(1);
  right: -185px;
}
.section-single__background--no-scale .parallax-semicircle-rotate-wrap {
  transform: scale(1);
}
@media screen and (max-width: 1024px) {
  .section-single__background--left {
    left: -90px;
  }
}
.section-single__background-img {
  width: 474px;
  height: 474px;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-single__background-wrap {
  width: 554px;
  height: 554px;
  position: absolute;
  top: -40px;
  left: -40px;
}
.section-single__background-svg {
  width: 100%;
  height: 100%;
  transform: rotate(var(--scrollRotate));
  pointer-events: none;
}
.section-single__background-svg-p {
  position: absolute;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
  border-radius: 61px;
}
.section-single__background-svg-p:hover {
  cursor: pointer;
}
.section-single__background-svg-p-quantitative {
  top: 102px;
  left: -6px;
  background-color: #7429BF;
}
.section-single__background-svg-p-quality {
  top: 50%;
  right: -93px;
  background-color: #33DCD8;
  transform: translate(0%, -50%);
}
@media screen and (max-width: 1024px) {
  .section-single__background-svg-p-quality {
    right: 60px;
  }
}
.section-single__background-svg-p-rooms {
  bottom: 102px;
  left: -6px;
  background-color: #04B8FF;
}
.section-single .parallax-bird {
  transform: translate(205px, -55px);
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
.section-single .parallax-bird .parallax-bird__mask {
  transform: translate(-75%, -10%);
}
@media screen and (max-width: 1024px) {
  .section-single .parallax-bird {
    position: relative !important;
    transform: translate(-105px, -50%) scale(0.8) !important;
    left: auto !important;
    padding: 0px;
  }
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-65%, -20%);
  }
}
@media screen and (max-width: 768px) {
  .section-single .parallax-bird {
    position: relative !important;
    transform: translate(0px, 20%) scale(0.5) !important;
    left: auto !important;
    height: 270px !important;
    padding: 0px;
  }
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-60%, -20%);
    /* iPhone 6/7/8 */
    /* iPhone 6/7/8 Plus */
    /* iPhone X/XS/11 Pro */
    /* iPhone XR/XS Max/11/11 Pro Max */
  }
}
@media screen and (max-width: 768px) and (max-width: 425px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (max-width: 768px) and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (max-width: 768px) and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (max-width: 768px) and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (max-width: 768px) and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media screen and (max-width: 768px) {
  .section-single .parallax-bird .parallax-bird__ellipses {
    min-height: 500px;
    min-width: 500px;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single .parallax-bird {
    position: relative !important;
    transform: translate(0px, 20%) scale(0.5) !important;
    left: auto !important;
    height: 270px !important;
    padding: 0px;
  }
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-60%, -20%);
    /* iPhone 6/7/8 */
    /* iPhone 6/7/8 Plus */
    /* iPhone X/XS/11 Pro */
    /* iPhone XR/XS Max/11/11 Pro Max */
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (max-width: 425px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single .parallax-bird .parallax-bird__ellipses {
    min-height: 500px;
    min-width: 500px;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single .parallax-bird {
    position: relative !important;
    transform: translate(0px, 20%) scale(0.5) !important;
    left: auto !important;
    height: 270px !important;
    padding: 0px;
  }
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-60%, -20%);
    /* iPhone 6/7/8 */
    /* iPhone 6/7/8 Plus */
    /* iPhone X/XS/11 Pro */
    /* iPhone XR/XS Max/11/11 Pro Max */
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (max-width: 425px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single .parallax-bird .parallax-bird__ellipses {
    min-height: 500px;
    min-width: 500px;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single .parallax-bird {
    position: relative !important;
    transform: translate(0px, 20%) scale(0.5) !important;
    left: auto !important;
    height: 270px !important;
    padding: 0px;
  }
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-60%, -20%);
    /* iPhone 6/7/8 */
    /* iPhone 6/7/8 Plus */
    /* iPhone X/XS/11 Pro */
    /* iPhone XR/XS Max/11/11 Pro Max */
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (max-width: 425px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single .parallax-bird .parallax-bird__ellipses {
    min-height: 500px;
    min-width: 500px;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single .parallax-bird {
    position: relative !important;
    transform: translate(0px, 20%) scale(0.5) !important;
    left: auto !important;
    height: 270px !important;
    padding: 0px;
  }
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-60%, -20%);
    /* iPhone 6/7/8 */
    /* iPhone 6/7/8 Plus */
    /* iPhone X/XS/11 Pro */
    /* iPhone XR/XS Max/11/11 Pro Max */
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (max-width: 425px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single .parallax-bird .parallax-bird__mask {
    transform: translate(-70%, -20%);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single .parallax-bird .parallax-bird__ellipses {
    min-height: 500px;
    min-width: 500px;
    height: 100%;
    width: 100%;
  }
}
.section-single .parallax-double-semicircle {
  position: absolute;
  height: 100%;
  right: -650px;
}
.section-single .parallax-double-semicircle--no-scale-laptop .parallax-double-semicircle-wrap {
  transform: scale(1);
}
.section-single .parallax-double-semicircle .parallax-double-semicircle-wrap {
  top: -3%;
}
.section-single .parallax-double-semicircle--translate-left {
  transform: translate(-30%) !important;
}
@media screen and (max-width: 1024px) {
  .section-single .parallax-double-semicircle--translate-left {
    transform: translate(-120%) !important;
  }
}
.section-single--background {
  background: center/cover no-repeat url("./../../assets/image/section-help-form.png");
}
.section-single--revert .section-single-wrap {
  flex-direction: row-reverse;
}
.section-single--revert .section-single-wrap .section-single__background {
  width: 50%;
  height: 100%;
}
.section-single--black {
  background-color: #2E2735;
}
.section-single--black * {
  color: #fff;
}
.section-single--black .section-single__content-text {
  color: #B7ACC2;
}
.section-single--black .section-single__content-link {
  border: 1px solid #33DCD8;
  color: #33DCD8;
  background-color: #2E2735;
}
.section-single--black .section-single__content-link-icon {
  height: 11px;
  width: 11px;
  fill: #33DCD8;
  margin-left: 10px;
}
.section-single--black .section-single__content-link:hover {
  color: #fff;
  background-color: #33DCD8;
}
.section-single--black .section-single__content-link:hover-icon {
  fill: #fff;
}
.section-single-wrap {
  position: relative;
  display: flex;
  gap: 94px;
  z-index: 1;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 1024px) {
  .section-single-wrap {
    gap: 0px;
  }
}
@media screen and (max-width: 768px) {
  .section-single-wrap {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single-wrap {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single-wrap {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single-wrap {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single-wrap {
    flex-direction: column;
  }
}
.section-single-wrap-tablet-relative {
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .section-single-wrap-tablet-relative {
    flex-direction: column !important;
  }
  .section-single-wrap-tablet-relative .section-single__background {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 277px;
    height: 277px;
    transform: scale(0.5) translate(0%, 0px);
  }
  .section-single-wrap-tablet-relative .section-single__background-wrap {
    left: auto;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-single-wrap-tablet-relative {
    flex-direction: column !important;
  }
  .section-single-wrap-tablet-relative .section-single__background {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 277px;
    height: 277px;
    transform: scale(0.5) translate(0%, 0px);
  }
  .section-single-wrap-tablet-relative .section-single__background-wrap {
    left: auto;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-single-wrap-tablet-relative {
    flex-direction: column !important;
  }
  .section-single-wrap-tablet-relative .section-single__background {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 277px;
    height: 277px;
    transform: scale(0.5) translate(0%, 0px);
  }
  .section-single-wrap-tablet-relative .section-single__background-wrap {
    left: auto;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-single-wrap-tablet-relative {
    flex-direction: column !important;
  }
  .section-single-wrap-tablet-relative .section-single__background {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 277px;
    height: 277px;
    transform: scale(0.5) translate(0%, 0px);
  }
  .section-single-wrap-tablet-relative .section-single__background-wrap {
    left: auto;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-single-wrap-tablet-relative {
    flex-direction: column !important;
  }
  .section-single-wrap-tablet-relative .section-single__background {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 277px;
    height: 277px;
    transform: scale(0.5) translate(0%, 0px);
  }
  .section-single-wrap-tablet-relative .section-single__background-wrap {
    left: auto;
  }
}

.section-calculator {
  padding: 100px 0;
  background-color: #2E2735;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 1024px) {
  .section-calculator {
    padding: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-calculator {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-calculator {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-calculator {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-calculator {
    padding: 70px 16px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-calculator {
    padding: 70px 16px;
  }
}
.section-calculator * {
  color: #fff;
}
.section-calculator__title {
  margin-bottom: 50px;
}
.section-calculator__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 35px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 1024px) {
  .section-calculator__inputs {
    gap: 12px;
  }
}
@media screen and (max-width: 768px) {
  .section-calculator__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-calculator__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-calculator__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-calculator__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-calculator__inputs {
    display: flex;
    flex-direction: column;
  }
}
.section-calculator__inputs-item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.section-calculator__inputs-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  margin-right: 12px;
}
@media screen and (max-width: 1024px) {
  .section-calculator__inputs-item-title {
    font-size: 16px;
    margin-right: 8px;
  }
}
.section-calculator__inputs-item-svg {
  height: 21.5px;
  width: 21.5px;
}
.section-calculator__inputs-item-input, .section-calculator__inputs-item-select {
  width: 100%;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #04B8FF;
  border-radius: 61px;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.section-calculator__inputs-item-input option, .section-calculator__inputs-item-select option {
  color: #2E2735;
}
.section-calculator__inputs-item-input::-webkit-outer-spin-button, .section-calculator__inputs-item-input::-webkit-inner-spin-button, .section-calculator__inputs-item-select::-webkit-outer-spin-button, .section-calculator__inputs-item-select::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.section-calculator__inputs-item select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-position: calc(100% - 20px) center !important;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
}
.section-calculator__inputs-item .error {
  border: 1px solid #c00000;
}
.section-calculator__result {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 48px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .section-calculator__result {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .section-calculator__result {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .section-calculator__result {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .section-calculator__result {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .section-calculator__result {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
.section-calculator__result-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  text-transform: uppercase;
}
.section-calculator__result-number {
  font-weight: 600;
  font-size: 64px;
  line-height: 135%;
  color: #04B8FF;
}
.section-calculator__background .parallax-advantage-wrap {
  right: auto;
  left: 0;
  transform: scale(0.8);
}
@media screen and (max-width: 1024px) {
  .section-calculator__background .parallax-advantage-wrap {
    left: -240px;
  }
}
.section-calculator__background .parallax-advantage__medium {
  left: 20px;
}
.section-calculator__background .parallax-advantage__circle-small {
  right: -40px;
}