@charset "UTF-8";
.section-ecosystem {
  background: center/cover no-repeat url("./../../assets/image/section-ecosystem.jpg");
  height: 648px;
  overflow: hidden;
}
.section-ecosystem-wrap {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}
.section-ecosystem__content {
  position: relative;
  max-width: 1188px;
  height: 100%;
}
.section-ecosystem__content-svg {
  position: absolute;
  width: 1061px;
  height: 838px;
  bottom: 0px;
  left: -26px;
}
@media screen and (max-width: 1024px) {
  .section-ecosystem__content-svg {
    left: -140px;
    width: 800px;
  }
}
@media screen and (max-width: 768px) {
  .section-ecosystem__content-svg {
    left: -320px;
    width: 760px;
  }
}
.section-ecosystem__content-text {
  position: absolute;
  max-width: 643px;
  right: 150px;
  top: 137px;
}
.section-ecosystem__content-text-title {
  color: #fff;
  font-weight: 800;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .section-ecosystem__content-text-title {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (max-width: 768px) {
  .section-ecosystem__content-text-title {
    font-size: 24px;
  }
}
.section-ecosystem__content-text-desc {
  max-width: 510px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
}
@media screen and (max-width: 1024px) {
  .section-ecosystem__content-text-desc {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .section-ecosystem__content-text-desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .section-ecosystem__content-text {
    max-width: 444px;
    left: 190px;
    right: auto;
  }
}
@media screen and (max-width: 768px) {
  .section-ecosystem__content-text {
    max-width: 350px;
    left: 15px;
    right: auto;
  }
}
.section-ecosystem__content-link {
  position: absolute;
  right: 0px;
  bottom: 93px;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .section-ecosystem__content-link {
    right: auto;
    left: 600px;
  }
}
@media screen and (max-width: 768px) {
  .section-ecosystem__content-link {
    right: 15px;
    bottom: 65px;
    left: auto;
  }
}
.section-ecosystem__content-link-background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 0.4s ease;
}
.section-ecosystem__content-link-background--hover {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270.16deg, #3CDDE4 -13.86%, #7E23D1 125.58%);
  opacity: 0;
  transition: 0.4s ease;
}
.section-ecosystem__content-link-text {
  z-index: 3;
  position: absolute;
  padding: 28px;
  transition: 0.4s ease;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #2E2735;
  text-decoration: none;
}
.section-ecosystem__content-link:hover .section-ecosystem__content-link-text {
  color: #fff;
}
.section-ecosystem__content-link:hover .section-ecosystem__content-link-background--hover {
  opacity: 1;
}

.section-list {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.section-list__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  padding: 84px 0;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section-list__content {
    padding: 44px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-list__content {
    padding: 70px 16px;
    gap: 24px;
  }
}
.section-list__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.section-list__background * {
  transition: 0.1s ease;
}
@media screen and (max-width: 768px) {
  .section-list__background {
    position: initial;
    transform: translate(0%, 0);
    height: 350px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .section-list__title {
    margin-bottom: 16px;
  }
}
.section-list__item {
  padding-left: 42px;
  position: relative;
  max-width: 665px;
}
@media screen and (max-width: 1024px) {
  .section-list__item {
    max-width: 355px;
  }
}
@media screen and (max-width: 768px) {
  .section-list__item {
    max-width: 100%;
  }
}
.section-list__item::after {
  content: attr(list-count);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: right;
  text-transform: uppercase;
  color: #2E2735;
}
@media screen and (max-width: 1024px) {
  .section-list__item::after {
    font-size: 20px;
  }
}
.section-list__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #2E2735;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  .section-list__item-title {
    font-size: 20px;
  }
}
.section-list__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #4D4357;
  margin-bottom: 16px;
}
.section-list__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 12px 40px;
  transition: 0.4s ease;
  border: 1px solid #7429BF;
  border-radius: 61px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #7429BF;
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-list__item-btn {
    padding: 12px 18px;
  }
}
.section-list__item-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
@media screen and (max-width: 768px) {
  .section-list__item-btn-wrap {
    gap: 12px;
  }
}
.section-list__item-btn-icon {
  min-height: 11px;
  max-height: 11px;
  min-width: 11px;
  max-width: 11px;
  fill: #7429BF;
  margin-left: 10px;
}
.section-list__item-btn:hover {
  color: #fff;
  background-color: #7429BF;
}
.section-list__item-btn:hover-icon {
  fill: #fff;
}
.section-list--right {
  background-color: #2E2735;
}
.section-list--right .section-list__content {
  align-items: end;
}
.section-list--right .section-list__content .section-list__item::after {
  color: #fff;
}
.section-list--right .section-list__content .section-list__item-title {
  color: #fff;
}
.section-list--right .section-list__content .section-list__item-text {
  color: #B7ACC2;
}
.section-list--right .section-list__content .section-list__item-btn {
  border: 1px solid #33DCD8;
  color: #33DCD8;
  background-color: #2E2735;
}
.section-list--right .section-list__content .section-list__item-btn-icon {
  height: 11px;
  width: 11px;
  fill: #33DCD8;
  margin-left: 10px;
}
.section-list--right .section-list__content .section-list__item-btn:hover {
  color: #fff;
  background-color: #33DCD8;
}
.section-list--right .section-list__content .section-list__item-btn:hover-icon {
  fill: #fff;
}
.section-list--right .section-list__background {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.section-help-link {
  position: relative;
  padding: 92px 0;
}
@media screen and (max-width: 1024px) {
  .section-help-link {
    padding: 42px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-help-link {
    padding: 70px 16px;
  }
}
.section-help-link__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .section-help-link__content {
    flex-direction: column;
    align-items: end;
  }
}
.section-help-link__text {
  z-index: 2;
  max-width: 560px;
}
@media screen and (max-width: 768px) {
  .section-help-link__text {
    max-width: 1000px;
  }
}
.section-help-link__text-h2 {
  margin-bottom: 28px;
}
@media screen and (max-width: 1024px) {
  .section-help-link__text-h2 {
    margin-bottom: 20px;
  }
}
.section-help-link__text-p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #2E2735;
}
@media screen and (max-width: 1024px) {
  .section-help-link__text-p {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .section-help-link__text-p {
    font-size: 16px;
  }
}
.section-help-link__btn {
  z-index: 2;
  min-width: 210px;
  max-width: 210px;
  min-height: 210px;
  max-height: 210px;
  margin-left: 25%;
  box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
  border-radius: 150px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.section-help-link__btn-text {
  padding: 26px;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .section-help-link__btn-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .section-help-link__btn {
    margin-left: 40px;
    min-width: 169px;
    max-width: 169px;
    min-height: 169px;
    max-height: 169px;
  }
}
.section-help-link__background {
  position: absolute;
  right: 0;
  width: 912px;
}
@media screen and (max-width: 1024px) {
  .section-help-link__background {
    width: 50%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section-help-link__background-wrap {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.section-help-link--black {
  background-color: #2E2735;
}
.section-help-link--black .section-help-link__text {
  max-width: 571px;
}
@media screen and (max-width: 768px) {
  .section-help-link--black .section-help-link__text {
    max-width: 1000px;
  }
}
.section-help-link--black .section-help-link__text-h2 {
  color: #fff;
}
.section-help-link--black .section-help-link__text-p {
  color: #B7ACC2;
}
.section-help-link--black .section-help-link__btn {
  margin-left: 90px;
}

.section-tools {
  background-color: #2E2735;
  background-image: url(./../../assets/image/section-tools.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .section-tools {
    padding: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-tools {
    padding: 70px 16px;
  }
}
.section-tools__wrap {
  position: relative;
}
.section-tools__header {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .section-tools__header {
    flex-direction: column;
    align-items: start;
    gap: 24px;
    margin-bottom: 24px;
  }
}
.section-tools__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  color: #fff;
}
.section-tools__input {
  background: rgba(255, 255, 255, 0);
  border: 0px solid #33DCD8;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #33DCD8;
  margin: 0px 12px;
  width: 100%;
}
.section-tools__input-search {
  width: 14px;
  height: 14px;
  fill: #33DCD8;
}
.section-tools__input-label {
  height: 45px;
  max-width: 384px;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #33DCD8;
  border-radius: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-tools__input-label:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .section-tools__input-label {
    max-width: 1000px;
  }
}
.section-tools__input-clear {
  width: 13px;
  height: 13px;
}
.section-tools__items {
  display: grid;
  gap: 62px 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
}
@media screen and (max-width: 1024px) {
  .section-tools__items {
    grid-template-columns: repeat(auto-fill, minmax(252px, max-content));
    gap: 12px;
  }
}
.section-tools__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  .section-tools__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }
}
.section-tools__item-list {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B7ACC2;
  margin-left: 21px;
}
@media screen and (max-width: 1024px) {
  .section-tools__item-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}
.section-tools__item-list-item {
  position: relative;
  list-style: none;
}
.section-tools__item-list-item::before {
  content: "•";
  position: absolute;
  font-size: 16px;
  top: 1px;
  left: -20px;
}
.section-tools__item-list-item b {
  font-weight: 400;
  background: #33DCD8;
  mix-blend-mode: difference;
  border-radius: 5px;
}
.section-tools__item-list-item:hover {
  cursor: pointer;
}
.section-tools__background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.section-tools__background-circle-1 {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .section-tools__background-circle-1 {
    height: 468px;
    width: 468px;
  }
}
.section-tools__background-circle-2 {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .section-tools__background-circle-2 {
    height: 349px;
    width: 349px;
  }
}

.section-resources {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .section-resources {
    padding: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-resources {
    padding: 70px 16px;
  }
}
.section-resources-wrap {
  position: relative;
  z-index: 2;
}
.section-resources__title {
  margin-bottom: 70px;
  max-width: 632px;
}
@media screen and (max-width: 1024px) {
  .section-resources__title {
    margin-bottom: 50px;
  }
}
.section-resources__list {
  left: 20px;
  list-style: none;
  margin-left: 50px;
  max-width: 632px;
}
@media screen and (max-width: 1024px) {
  .section-resources__list {
    max-width: 350px;
    margin-left: 35px;
  }
}
.section-resources__list-wrap {
  max-width: 652px;
}
.section-resources__list-item {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #2E2735;
}
@media screen and (max-width: 1024px) {
  .section-resources__list-item {
    font-size: 20px;
  }
}
.section-resources__list-item::before {
  content: attr(list-counter);
  position: absolute;
  font-size: 20px;
  top: 0px;
  left: -50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #2E2735;
}
@media screen and (max-width: 1024px) {
  .section-resources__list-item::before {
    font-size: 20px;
    left: -35px;
  }
}
.section-resources__list-item ul {
  position: relative;
  left: 0;
  margin: 16px 0 20px 25px;
}
.section-resources__list-item ul li {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #4D4357;
  text-transform: none;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .section-resources__list-item ul li {
    font-size: 16px;
  }
}
.section-resources__list-item ul li::before {
  content: "•";
  position: absolute;
  font-size: 20px;
  top: -2px;
  left: -20px;
}
.section-resources__background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section-resources__background {
    transform: translate(-25%, 0) scale(0.8);
  }
}
@media screen and (max-width: 768px) {
  .section-resources__background {
    transform: translate(-15%, 0) scale(0.6);
    top: 15%;
  }
}
@media screen and (max-width: 425px) {
  .section-resources__background {
    position: relative;
    height: 350px;
    transform: translate(-15%, -50%) scale(0.6);
  }
}
.section-resources__background-img {
  position: absolute;
  top: 100px;
  right: 140px;
  height: 555px;
  width: 555px;
  border-radius: 50%;
  background: right/cover no-repeat url("./../../assets/image/section-resources-1.jpg");
}
.section-resources__background-small {
  position: absolute;
  top: 130px;
  right: 240px;
}
.section-resources__background-medium {
  position: absolute;
  top: 281px;
  right: 630px;
}
.section-resources__background-circle {
  position: absolute;
  top: 510px;
  right: 20px;
}
.section-resources--black {
  background-color: #2E2735;
}
.section-resources--black * {
  color: #fff;
}
.section-resources--black * ul li {
  color: #B7ACC2;
}
.section-resources--black * ul li::before {
  color: #B7ACC2;
}
.section-resources--black *::before {
  color: #fff;
}
.section-resources--black .section-resources__list ul {
  position: initial;
}
.section-resources--black .section-resources__list-wrap {
  position: relative;
  max-width: 1136px;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 1024px) {
  .section-resources--black .section-resources__background {
    transform: translate(-60%, 0) scale(0.8);
  }
}
@media screen and (max-width: 768px) {
  .section-resources--black .section-resources__background {
    transform: translate(-75%, 0) scale(0.6);
    top: 15%;
  }
}
@media screen and (max-width: 425px) {
  .section-resources--black .section-resources__background {
    position: relative;
    height: 350px;
    transform: translate(-60%, -30%) scale(0.6);
  }
}
.section-resources--black .section-resources__background-img {
  left: 240px;
  background: center/cover no-repeat url("./../../assets/image/section-resources-2.jpg");
}
@media screen and (max-width: 1440px) {
  .section-resources--black .section-resources__background-img {
    left: 0px;
  }
}
.section-resources--black .section-resources__background-small {
  top: 80px;
  left: 260px;
}
@media screen and (max-width: 1440px) {
  .section-resources--black .section-resources__background-small {
    left: 0px;
  }
}
.section-resources--black .section-resources__background-medium {
  top: 170px;
  left: 690px;
}
@media screen and (max-width: 1440px) {
  .section-resources--black .section-resources__background-medium {
    left: 430px;
  }
}
.section-resources--black .section-resources__background-circle {
  left: 20px;
}
@media screen and (max-width: 1440px) {
  .section-resources--black .section-resources__background-circle {
    left: 0px;
  }
}

.section-help-form {
  padding: 100px 0px;
  background: center/cover no-repeat url("./../../assets/image/section-help-form.png");
}
@media screen and (max-width: 1024px) {
  .section-help-form {
    padding: 70px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-help-form {
    padding: 70px 16px;
  }
}
.section-help-form__content-h2 {
  color: #2E2735;
  margin-bottom: 23px;
}
@media screen and (max-width: 1024px) {
  .section-help-form__content-h2 {
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 768px) {
  .section-help-form__content-h2 {
    margin-bottom: 16px;
  }
}
.section-help-form__content-p {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #2E2735;
  margin-bottom: 36px;
}
@media screen and (max-width: 1024px) {
  .section-help-form__content-p {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 768px) {
  .section-help-form__content-p {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.section-help-form__content-form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .section-help-form__content-form {
    flex-direction: column;
    align-items: end;
    gap: 28px;
  }
}
.section-help-form__content-form input, .section-help-form__content-form textarea {
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.569);
  border: 1px solid #7429BF;
  border-radius: 27px;
  resize: none;
}
.section-help-form__content-form-wrap {
  max-width: 752px;
  width: 100%;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 150px;
}
@media screen and (max-width: 768px) {
  .section-help-form__content-form-wrap {
    display: flex;
    flex-direction: column;
  }
}
.section-help-form__content-form-text {
  grid-column: span 2;
}
.section-help-form__content-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 210px;
  min-height: 210px;
  max-width: 210px;
  max-height: 210px;
  background: linear-gradient(244.27deg, #33DCD8 13.54%, #7429BF 87.32%);
  box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
  border: none;
  border-radius: 50%;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 80px;
}
@media screen and (max-width: 1024px) {
  .section-help-form__content-form-btn {
    min-width: 169px;
    min-height: 169px;
    max-width: 169px;
    max-height: 169px;
    margin-left: 40px;
  }
}

.section-customers {
  padding: 100px 0;
}
@media screen and (max-width: 1024px) {
  .section-customers {
    padding: 80px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-customers {
    padding: 70px 15px;
  }
}
.section-customers__title {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .section-customers__title {
    margin-bottom: 40px;
  }
}
.section-customers__slider-line-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.section-customers__slider-item-img {
  width: 100%;
  max-height: 105px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-company {
  padding: 100px 0;
  background-color: #fff;
  background-image: url(./../../assets/image/section-tools.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .section-company {
    padding: 70px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-company {
    padding: 70px 15px;
  }
}
.section-company__title {
  margin-bottom: 50px;
}
.section-company__diagram {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .section-company__diagram {
    display: none;
  }
}
.section-company__diagram--laptop {
  display: none;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section-company__diagram--laptop {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  .section-company__diagram--laptop {
    display: none;
  }
}
.section-company__diagram--phone {
  display: none;
  width: 100%;
}
@media screen and (max-width: 425px) {
  .section-company__diagram--phone {
    display: block;
  }
}

.section-cases {
  background-color: #2E2735;
  padding: 100px 0;
}
@media screen and (max-width: 1024px) {
  .section-cases {
    padding: 50px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-cases {
    padding: 70px 15px;
  }
}
.section-cases__title {
  color: #fff;
  margin-bottom: 52px;
}
.section-cases__slider-line-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 30px 16px;
}
@media screen and (max-width: 1024px) {
  .section-cases__slider-line-item {
    gap: 28px 20px;
  }
}
@media screen and (max-width: 425px) {
  .section-cases__slider-line-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.section-cases__slider-item-img {
  width: 129px;
  height: 87px;
}
@media screen and (max-width: 768px) {
  .section-cases__slider-item-img {
    width: 152px;
    height: 102px;
    margin-bottom: 20px;
  }
}
.section-cases__slider-item-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  .section-cases__slider-item-h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
}
.section-cases__slider-item-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B7ACC2;
}
@media screen and (max-width: 1024px) {
  .section-cases__slider-item-p {
    font-size: 16px;
  }
}
.section-cases__slider-item-list-item {
  list-style: none;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B7ACC2;
  margin-left: 20px;
}
.section-cases__slider-item-list-item::before {
  content: "•";
  position: absolute;
  font-size: 18px;
  top: 1px;
  left: -20px;
}

.section-reviews {
  padding: 120px 0;
}
@media screen and (max-width: 1024px) {
  .section-reviews {
    padding: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-reviews {
    padding: 70px 15px;
  }
}
.section-reviews__title {
  margin-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  .section-reviews__title {
    margin-bottom: 50px;
  }
}
.section-reviews__slider-line-item {
  display: flex;
  gap: 52px;
}
@media screen and (max-width: 425px) {
  .section-reviews__slider-line-item {
    flex-direction: column;
    align-items: center;
  }
}
.section-reviews__slider-line-item-img {
  box-shadow: 0px 3px 17px rgba(77, 67, 87, 0.06);
  border-radius: 10px;
}
@media screen and (max-width: 425px) {
  .section-reviews__slider-line-item-img {
    width: 255px;
    height: 360px;
  }
}
.section-reviews__slider-line-item-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.section-reviews__slider-line-item-content-quotation {
  width: 56px;
  height: 46px;
}
@media screen and (max-width: 1024px) {
  .section-reviews__slider-line-item-content-quotation {
    width: 36px;
    height: 30px;
  }
}
.section-reviews__slider-line-item-content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #4D4357;
}
@media screen and (max-width: 1024px) {
  .section-reviews__slider-line-item-content-text {
    font-size: 16px;
  }
}
.section-reviews__slider-line-item-content-autor {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}
@media screen and (max-width: 1024px) {
  .section-reviews__slider-line-item-content-autor {
    font-size: 18px;
  }
}
.section-reviews__slider-line-item-content-autor b {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .section-reviews__slider-line-item-content-autor b {
    font-size: 20px;
  }
}

.section-tasks {
  background-color: #2E2735;
  padding: 100px 0 20px 0;
}
@media screen and (max-width: 1024px) {
  .section-tasks {
    padding: 50px 90px 20px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-tasks {
    padding: 70px 15px;
  }
}
.section-tasks__title {
  color: #fff;
}
.section-tasks__slider-line-item {
  display: flex;
}
@media screen and (max-width: 425px) {
  .section-tasks__slider-line-item {
    display: block;
  }
}
.section-tasks__slider-line-item-img {
  position: relative;
  padding: 80px 50px;
}
.section-tasks__slider-line-item-img-content {
  width: 255px;
  height: 255px;
  border-radius: 250px;
}
.section-tasks__slider-line-item-img-svg {
  position: absolute;
  left: 26px;
  top: 50%;
}
.section-tasks__slider-line-item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content {
    gap: 18px;
  }
}
.section-tasks__slider-line-item-content-p {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content-p {
    font-size: 20px;
  }
}
.section-tasks__slider-line-item-content-list {
  list-style: none;
  padding-left: 20px;
}
.section-tasks__slider-line-item-content-list-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #B7ACC2;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content-list-item {
    font-size: 18px;
  }
}
.section-tasks__slider-line-item-content-list-item::before {
  content: "•";
  position: absolute;
  font-size: 18px;
  top: 1px;
  left: -20px;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content-list-item::before {
    font-size: 16px;
  }
}
.section-tasks__slider-line-item-content-btn {
  padding: 16px 40px;
  max-width: 314px;
  border-radius: 61px;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  .section-tasks__slider-line-item-content-btn {
    max-width: 500px;
  }
}
.section-tasks__slider-line-item-content-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.section-info {
  background-color: #fff;
  background-image: url(./../../assets/image/section-tools.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 100px 0;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .section-info {
    padding: 50px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-info {
    padding: 70px 15px;
  }
}
.section-info__content-h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  color: #2E2735;
  margin-bottom: 24px;
  max-width: 656px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section-info__content-h2 {
    max-width: 410px;
  }
}
@media screen and (max-width: 425px) {
  .section-info__content-h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
.section-info__content-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: #4D4357;
  margin-bottom: 40px;
  max-width: 656px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section-info__content-p {
    max-width: 410px;
  }
}
@media screen and (max-width: 425px) {
  .section-info__content-p {
    font-size: 16px;
    margin-bottom: 28px;
  }
}
.section-info__content-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(568px, max-content));
  z-index: 2;
}
.section-info__content-list-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: #4D4357;
  list-style: none;
  position: relative;
  margin-left: 20px;
}
.section-info__content-list-item::before {
  content: "•";
  position: absolute;
  font-size: 22px;
  top: 1px;
  left: -20px;
}
@media screen and (max-width: 1024px) {
  .section-info__content-list {
    max-width: 410px;
  }
}
.section-info__content-map {
  display: none;
}
@media screen and (max-width: 425px) {
  .section-info__content-map {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }
}
.section-info__wrap {
  position: relative;
}
.section-info__map {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 73px;
}
@media screen and (max-width: 1440px) {
  .section-info__map {
    right: -540px;
  }
}
@media screen and (max-width: 425px) {
  .section-info__map {
    display: none;
  }
}

.section-mission {
  background-color: #2E2735;
  background-image: url(./../../assets/image/section-mission.png);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 86px 0;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section-mission {
    padding: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-mission {
    padding: 70px 15px;
  }
}
.section-mission__content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 56px;
}
@media screen and (max-width: 425px) {
  .section-mission__content {
    gap: 28px;
  }
}
.section-mission__content-wrap {
  max-width: 650px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-wrap {
    max-width: 455px;
  }
}
@media screen and (max-width: 768px) {
  .section-mission__content-wrap {
    max-width: 100%;
  }
}
.section-mission__content-h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-h3 {
    font-size: 18px;
  }
}
.section-mission__content-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-h2 {
    font-size: 28px;
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 425px) {
  .section-mission__content-h2 {
    font-size: 24px;
  }
}
.section-mission__content-p {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #B7ACC2;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-p {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .section-mission__content-p {
    font-size: 16px;
  }
}
.section-mission__content-p:nth-child(0) {
  margin-bottom: 50px;
}
.section-mission__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1024px) {
  .section-mission__background {
    transform: translate(-60%, 0) scale(0.7);
  }
}
@media screen and (max-width: 768px) {
  .section-mission__background {
    position: relative;
    height: 300px;
  }
}
@media screen and (max-width: 425px) {
  .section-mission__background {
    transform: translate(-60%, 0) scale(0.5);
    height: 250px;
  }
}
.section-mission__background-ellipse-wrap {
  position: absolute;
  width: 392px;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1024px) {
  .section-mission__background-ellipse-wrap {
    transform: translate(0%, 0);
  }
}
.section-mission__background-ellipse-1 {
  position: absolute;
  top: 85px;
}
.section-mission__background-ellipse-2 {
  position: absolute;
  top: 85px;
}