@import './../vars.scss';


.section-ecosystem{
    background: center / cover no-repeat url('./../../assets/image/section-ecosystem.jpg');
}


.section-tools{
    background: center / cover no-repeat url('./../../assets/image/section-tools.png') $color-dark;

    padding: 100px 0;

    @include laptop{
        padding: 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    overflow: hidden;

    &__wrap{
        position: relative;
    }

    &__header{
        display: flex;
        align-items: center;
        gap: 100px;
        margin-bottom: 70px;

        @include tablet{
            flex-direction: column;
            align-items: start;
            gap: 24px;
            margin-bottom: 24px;
        }

    }

    &__title{
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        text-transform: uppercase;
        color: $color-white;

    }

    &__input{
        background: rgba(255, 255, 255, 0);
        border: 0px solid $color-blue;

        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: $color-blue;

        margin: 0px 12px;

        width: 100%;

        &-search{
            width: 14px;
            height: 14px;
            fill: $color-blue;
        }

        &-label{
            height: 45px;
            max-width: 384px;
            width: 100%;

            padding: 12px 20px;
            border: 1px solid $color-blue;
            border-radius: 61px;

            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover{
                cursor: pointer;
            }

            @include tablet{
                max-width: 1000px;
            }

        }

        &-clear{
            width: 13px;
            height: 13px;
        }

    }

    &__items{
        display: grid;
        gap: 62px 16px;

        grid-template-columns: repeat(auto-fill, minmax(300px, max-content));

        @include laptop{
            grid-template-columns: repeat(auto-fill, minmax(252px, max-content));
            gap: 12px;
        }

    }

    &__item{
        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            color: $color-white;
            margin-bottom: 16px;

            @include laptop{
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
            }

        }

        &-list{
            @include laptop{
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
            }

            &-item{
                position: relative;
                list-style: none;

                font-size: 18px;
                margin-left: 21px;
                color: $color-white-light;

                &::before{
                    content: '•';
                    position: absolute;
                    font-size: 16px;
                    top: 0px;
                    left: -20px;
                }

                b{
                    font-weight: 400;
                    background: $color-blue;
                    mix-blend-mode: difference;
                    border-radius: 5px;
                }

                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    text-decoration: none;
                    color: $color-white-light;
                }

                &:hover{
                    cursor: pointer;
                }

            }

        }

    }

    &__background{
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        &-circle{
            &-1{
                position: absolute;
                right: 0;

                @include laptop{
                    height: 468px;
                    width: 468px;
                }

            }

            &-2{
                position: absolute;
                right: 0;

                @include laptop{
                    height: 349px;
                    width: 349px;
                }

            }

        }

    }

}


.section-help-form{
    padding: 100px 0px;

    background: center / cover no-repeat url('./../../assets/image/section-help-form.png');

    @include laptop{
        padding: 70px 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }
    
    &__content{
        &-h2{
            color: $color-dark;
            margin-bottom: 23px;

            @include laptop{
                margin-bottom: 28px;
            }

            @include tablet{
                margin-bottom: 16px;
            }

        }

        &-p{
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            color: $color-dark;
            margin-bottom: 36px;

            @include laptop{
                margin-bottom: 32px;
            }

            @include tablet{
                font-size: 16px;
                margin-bottom: 24px;
            }

        }

        &-form{
            display: flex;
            align-items: center;

            @include tablet{
                flex-direction: column;
                align-items: end;
                gap: 28px;
            }

            input, textarea {
                padding: 12px 20px;
                background: rgba(255, 255, 255, 0.569);
                border: 1px solid $color-purple;
                border-radius: 27px;
                resize: none
            }

            &-wrap{
                max-width: 752px;
                width: 100%;
                display: grid;
                gap: 12px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 45px 150px;

                @include tablet{
                    display: flex;
                    flex-direction: column;
                }

            }

            &-text{
                grid-column: span 2;
            }

            &-btn{
                display: flex;
                align-items: center;
                justify-content: center;

                min-width: 210px;
                min-height: 210px;
                max-width: 210px;
                max-height: 210px;

                background: linear-gradient(244.27deg, $color-blue 13.54%, $color-purple 87.32%);
                box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
                border: none;
                border-radius: 50%;

                font-weight: 800;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;

                margin-left: 80px;

                @include laptop{
                    min-width: 169px;
                    min-height: 169px;
                    max-width: 169px;
                    max-height: 169px;

                    margin-left: 40px;

                }

            }

        }

    }

}


.section-customers{
    padding: 100px 0;

    @include laptop{
        padding: 80px 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__title{
        margin-bottom: 80px;

        @include tablet{
            margin-bottom: 40px;
        }

    }
    
    &__slider{
        &-line{
            &-item{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 20px;
            }

        }

        &-item-img{
            width: 100%;
            max-height: 105px;
            object-fit: contain;
        }

    }

}


.section-tasks{
    background-color: $color-dark;
    padding: 100px 0 20px 0;

    @include laptop{
        padding: 50px 90px 20px 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__title{
        color: $color-white;
    }

    &__slider{
        &-line{
            &-item{
                display: flex;

                @include phone{
                    display: block;
                }

                &-img{
                    position: relative;
                    padding: 80px 50px;

                    &-content{
                        width: 255px;
                        height: 255px;
                        border-radius: 250px;
                    }

                    &-svg{
                        position: absolute;
                        left: 26px;
                        top: 50%;
                    }

                }

                &-content{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 32px;

                    @include laptop{
                        gap: 18px;
                    }

                    &-p{
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 44px;
                        text-transform: uppercase;
                        color: $color-white;

                        @include laptop{
                            font-size: 20px;
                        }
                    }

                    &-list{
                        list-style: none;
                        padding-left: 20px;
                        
                        &-item{
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 120%;
                            color: #B7ACC2;
                            position: relative;

                            @include laptop{
                                font-size: 18px;
                            }
                            
                            &::before{
                                content: '•';
                                position: absolute;
                                font-size: 18px;
                                top: 1px;
                                left: -20px;

                                @include laptop{
                                    font-size: 16px;
                                }
                            
                            }

                        }

                    }

                    &-btn{
                        padding: 16px 40px;
                        max-width: 314px;
                        border-radius: 61px;
                        text-decoration: none;

                        @include phone{
                            max-width: 500px;
                        }

                        &-text{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            text-transform: uppercase;
                            color: $color-white;
                        }

                    }

                }

            }

        }

    }

}


.section-info{
    background-color: $color-white;
    background-image: url(./../../assets/image/section-tools.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    padding: 100px 0;
    z-index: 1;

    @include laptop{
        padding: 50px 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__content{
        &-h2{
            font-weight: 800;
            font-size: 36px;
            line-height: 49px;
            text-transform: uppercase;
            color: $color-dark;
            margin-bottom: 24px;
            max-width: 656px;
            z-index: 2;

            @include laptop{
                max-width: 410px;
            }

            @include phone{
                font-size: 24px;
                margin-bottom: 12px;
            }

        }

        &-p{
            font-weight: 500;
            font-size: 18px;
            line-height: 135%;
            color: $color-gray;
            margin-bottom: 40px;
            max-width: 656px;
            z-index: 2;

            @include laptop{
                max-width: 410px;
            }

            @include phone{
                font-size: 16px;
                margin-bottom: 28px;
            }
        }

        &-list{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(568px, max-content));
            z-index: 2;

            &-item{
                font-weight: 500;
                font-size: 18px;
                line-height: 135%;
                color: $color-gray;

                list-style: none;
                position: relative;
                margin-left: 20px;

                &::before{
                    content: '•';
                    position: absolute;
                    font-size: 22px;
                    top: 1px;
                    left: -20px;
                }

            }

            @include laptop{
                max-width: 410px;
            }

        }

        &-map{
            display: none;

            @include phone{
                display: block;
                width: 100%;
                margin-bottom: 24px;
            }

        }

    }

    &__wrap{
        position: relative;
    }
    &__map{
        z-index: 1;
        position: absolute;
        right: 0;
        top: 73px;

        @include laptopL{
            right: -540px;
        }

        @include phone{
            display: none;
        }

    }

}


.section-mission{
    background-color: $color-dark;
    background-image: url(./../../assets/image/section-mission.png);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 86px 0;
    overflow: hidden;
    position: relative;

    @include laptop{
        padding: 90px;
    }

    @include tablet{
        padding: 70px 15px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 56px;

        @include phone{
            gap: 28px;
        }

        &-wrap{
            max-width: 650px;
            width: 100%;

            @include laptop{
                max-width: 455px;
            }

            @include tablet{
                max-width: 100%;
            }

        }

        &-h3{
            font-weight: 500;
            font-size: 24px;
            line-height: 42px;
            text-transform: uppercase;
            color: $color-white;

            @include laptop{
                font-size: 18px;
            }

        }

        &-h2{
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            text-transform: uppercase;
            color: $color-white;

            @include laptop{
                font-size: 28px;
                margin-bottom: 6px;
            }

            @include phone{
                font-size: 24px;
            }

        }

        &-p{
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            color: $color-white-light;

            @include laptop{
                font-size: 18px;
            }

            @include phone{
                font-size: 16px;
            }

            &:nth-child(0){
                margin-bottom: 50px;
            }

        }

    }

    &__background{
        position: absolute;
        height: 100%;
        width: 100%;

        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        @include laptop{
            transform: translate(-60%, 0) scale(0.7);
        }

        @include tablet{
            position: relative;
            height: 300px;
        }

        @include phone{
            transform: translate(-60%, 0) scale(0.5);
            height: 250px;
        }

        &-ellipse{
            &-wrap{
                position: absolute;
                width: 392px;
                transform: translate(-50%, 0);

                @include laptop{
                    transform: translate(0%, 0);
                }

            }

            &-1{
                position: absolute;
                top: 85px;
            }

            &-2{
                position: absolute;
                top: 85px;
            }

        }

    }

}