@charset "UTF-8";
.section-ecosystem {
  background: center/cover no-repeat url("./../../assets/image/section-ecosystem.jpg");
}

.section-tools {
  background: center/cover no-repeat url("./../../assets/image/section-tools.png") #2E2735;
  padding: 100px 0;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .section-tools {
    padding: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-tools {
    padding: 70px 16px;
  }
}
.section-tools__wrap {
  position: relative;
}
.section-tools__header {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .section-tools__header {
    flex-direction: column;
    align-items: start;
    gap: 24px;
    margin-bottom: 24px;
  }
}
.section-tools__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  color: #fff;
}
.section-tools__input {
  background: rgba(255, 255, 255, 0);
  border: 0px solid #33DCD8;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #33DCD8;
  margin: 0px 12px;
  width: 100%;
}
.section-tools__input-search {
  width: 14px;
  height: 14px;
  fill: #33DCD8;
}
.section-tools__input-label {
  height: 45px;
  max-width: 384px;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #33DCD8;
  border-radius: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-tools__input-label:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .section-tools__input-label {
    max-width: 1000px;
  }
}
.section-tools__input-clear {
  width: 13px;
  height: 13px;
}
.section-tools__items {
  display: grid;
  gap: 62px 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
}
@media screen and (max-width: 1024px) {
  .section-tools__items {
    grid-template-columns: repeat(auto-fill, minmax(252px, max-content));
    gap: 12px;
  }
}
.section-tools__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  .section-tools__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (max-width: 1024px) {
  .section-tools__item-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}
.section-tools__item-list-item {
  position: relative;
  list-style: none;
  font-size: 18px;
  margin-left: 21px;
  color: #B7ACC2;
}
.section-tools__item-list-item::before {
  content: "•";
  position: absolute;
  font-size: 16px;
  top: 0px;
  left: -20px;
}
.section-tools__item-list-item b {
  font-weight: 400;
  background: #33DCD8;
  mix-blend-mode: difference;
  border-radius: 5px;
}
.section-tools__item-list-item a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none;
  color: #B7ACC2;
}
.section-tools__item-list-item:hover {
  cursor: pointer;
}
.section-tools__background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.section-tools__background-circle-1 {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .section-tools__background-circle-1 {
    height: 468px;
    width: 468px;
  }
}
.section-tools__background-circle-2 {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .section-tools__background-circle-2 {
    height: 349px;
    width: 349px;
  }
}

.section-customers {
  padding: 100px 0;
}
@media screen and (max-width: 1024px) {
  .section-customers {
    padding: 80px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-customers {
    padding: 70px 15px;
  }
}
.section-customers__title {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .section-customers__title {
    margin-bottom: 40px;
  }
}
.section-customers__slider-line-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.section-customers__slider-item-img {
  width: 100%;
  max-height: 105px;
  -o-object-fit: contain;
  object-fit: contain;
}

.section-tasks {
  background-color: #2E2735;
  padding: 100px 0 20px 0;
}
@media screen and (max-width: 1024px) {
  .section-tasks {
    padding: 50px 90px 20px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-tasks {
    padding: 70px 15px;
  }
}
.section-tasks__title {
  color: #fff;
}
.section-tasks__slider-line-item {
  display: flex;
}
@media screen and (max-width: 425px) {
  .section-tasks__slider-line-item {
    display: block;
  }
}
.section-tasks__slider-line-item-img {
  position: relative;
  min-width: 255px;
  min-height: 255px;
  max-width: 255px;
  max-height: 255px;
  margin: 80px 50px;
}
@media screen and (max-width: 425px) {
  .section-tasks__slider-line-item-img {
    margin: 66px 0 42px 30px;
  }
}
.section-tasks__slider-line-item-img-content {
  width: 100%;
  height: 100%;
  border-radius: 250px;
}
.section-tasks__slider-line-item-img-svg-wrap {
  width: calc(100% + 52px);
  height: calc(100% + 52px);
  position: absolute;
  top: -26px;
  left: -26px;
}
.section-tasks__slider-line-item-img-svg--right {
  position: absolute;
  right: 0;
}
.section-tasks__slider-line-item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content {
    gap: 18px;
  }
}
.section-tasks__slider-line-item-content-p {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content-p {
    font-size: 20px;
  }
}
.section-tasks__slider-line-item-content-list {
  list-style: none;
  padding-left: 20px;
}
.section-tasks__slider-line-item-content-list-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #B7ACC2;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content-list-item {
    font-size: 18px;
  }
}
.section-tasks__slider-line-item-content-list-item::before {
  content: "•";
  position: absolute;
  font-size: 18px;
  top: 1px;
  left: -20px;
}
@media screen and (max-width: 1024px) {
  .section-tasks__slider-line-item-content-list-item::before {
    font-size: 16px;
  }
}
.section-tasks__slider-line-item-content-btn {
  padding: 16px 40px;
  max-width: 314px;
  border-radius: 61px;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  .section-tasks__slider-line-item-content-btn {
    max-width: 500px;
  }
}
.section-tasks__slider-line-item-content-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.section-info {
  background-color: #fff;
  background-image: url(./../../assets/image/section-tools.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 100px 0;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .section-info {
    padding: 50px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-info {
    padding: 70px 15px;
  }
}
.section-info__content-h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  color: #2E2735;
  margin-bottom: 24px;
  max-width: 656px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section-info__content-h2 {
    max-width: 410px;
  }
}
@media screen and (max-width: 768px) {
  .section-info__content-h2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .section-info__content-h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
.section-info__content-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: #4D4357;
  margin-bottom: 40px;
  max-width: 656px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section-info__content-p {
    max-width: 410px;
  }
}
@media screen and (max-width: 768px) {
  .section-info__content-p {
    max-width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .section-info__content-p {
    font-size: 16px;
    margin-bottom: 28px;
  }
}
.section-info__content-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(568px, max-content));
  z-index: 2;
}
.section-info__content-list-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: #4D4357;
  list-style: none;
  position: relative;
  margin-left: 20px;
}
.section-info__content-list-item::before {
  content: "•";
  position: absolute;
  font-size: 22px;
  top: 1px;
  left: -20px;
}
@media screen and (max-width: 1024px) {
  .section-info__content-list {
    max-width: 410px;
  }
}
@media screen and (max-width: 768px) {
  .section-info__content-list {
    max-width: 100%;
    display: block;
  }
}
.section-info__content-map {
  display: none;
}
@media screen and (max-width: 768px) {
  .section-info__content-map {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }
}
.section-info__content .no-max-width {
  max-width: 100%;
}
.section-info__wrap {
  position: relative;
}
.section-info__map {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 73px;
}
@media screen and (max-width: 1440px) {
  .section-info__map {
    right: -540px;
  }
}
@media screen and (max-width: 768px) {
  .section-info__map {
    display: none;
  }
}

.section-mission {
  background-color: #2E2735;
  background-image: url(./../../assets/image/section-mission.png);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 86px 0;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section-mission {
    padding: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-mission {
    padding: 70px 15px;
  }
}
.section-mission__content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 56px;
}
@media screen and (max-width: 425px) {
  .section-mission__content {
    gap: 28px;
  }
}
.section-mission__content-wrap {
  max-width: 650px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-wrap {
    max-width: 455px;
  }
}
@media screen and (max-width: 768px) {
  .section-mission__content-wrap {
    max-width: 100%;
  }
}
.section-mission__content-h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-h3 {
    font-size: 18px;
  }
}
.section-mission__content-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-h2 {
    font-size: 28px;
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 425px) {
  .section-mission__content-h2 {
    font-size: 24px;
  }
}
.section-mission__content-p {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #B7ACC2;
}
@media screen and (max-width: 1024px) {
  .section-mission__content-p {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .section-mission__content-p {
    font-size: 16px;
  }
}
.section-mission__content-p:nth-child(0) {
  margin-bottom: 50px;
}
.section-mission__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1024px) {
  .section-mission__background {
    transform: translate(-60%, 0) scale(0.7);
  }
}
@media screen and (max-width: 768px) {
  .section-mission__background {
    position: relative;
    height: 300px;
  }
}
@media screen and (max-width: 425px) {
  .section-mission__background {
    transform: translate(-60%, 0) scale(0.5);
    height: 250px;
  }
}
.section-mission__background-ellipse-wrap {
  position: absolute;
  width: 392px;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1024px) {
  .section-mission__background-ellipse-wrap {
    transform: translate(0%, 0);
  }
}
.section-mission__background-ellipse-1 {
  position: absolute;
  top: 85px;
}
.section-mission__background-ellipse-2 {
  position: absolute;
  top: 85px;
}