.section-ecosystem {
  background: center/cover no-repeat url("./../../assets/image/section-ecosystem-2.jpg");
}
@media screen and (max-width: 768px) {
  .section-ecosystem {
    background: right/cover no-repeat url("./../../assets/image/section-ecosystem-2.jpg");
  }
}
@media screen and (max-width: 425px) {
  .section-ecosystem {
    background: 85%/cover no-repeat url("./../../assets/image/section-ecosystem-2.jpg");
  }
}

.section-services {
  padding: 120px 0px;
  overflow: inherit;
}
@media screen and (max-width: 1440px) {
  .section-services {
    padding: 70px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-services {
    padding: 70px 16px;
  }
}
.section-services__title {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .section-services__title {
    margin-bottom: 20px;
  }
}
.section-services-wrap--laptop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(368px, max-content));
  gap: 40px 16px;
}
@media screen and (max-width: 768px) {
  .section-services-wrap--laptop {
    display: none;
  }
}
.section-services-wrap--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .section-services-wrap--mobile {
    display: block;
  }
}
.section-services__item-image {
  height: 160px;
  width: 160px;
  margin-bottom: 48px;
  position: relative;
}
.section-services__item-image-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.section-services__item-image-svg {
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-services__item-image-svg-wrap {
  width: 194px;
  height: 194px;
  position: absolute;
  transform: rotate(var(--scrollRotate));
  top: -17px;
  left: -17px;
}
.section-services__item-image-svg-3 {
  max-width: 50%;
  right: 0;
}
.section-services__item-image-svg-4 {
  bottom: 0;
  height: 50%;
  width: 50%;
}
.section-services__item-image-svg-5 {
  max-width: 50%;
  left: 0;
}
.section-services__item-image-count {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-services__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #2E2735;
  margin-bottom: 16px;
}
.section-services__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #4D4357;
}
.section-services__slider-prev, .section-services__slider-next {
  top: 25%;
}
.section-services__slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-services__slider-item-image {
  height: 160px;
  width: 160px;
  margin: 40px;
  position: relative;
}
.section-services__slider-item-image-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.section-services__slider-item-image-svg {
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-services__slider-item-image-svg-wrap {
  width: 194px;
  height: 194px;
  position: absolute;
  transform: rotate(var(--scrollRotate));
  top: -17px;
  left: -17px;
}
.section-services__slider-item-image-svg-3 {
  max-width: 50%;
  right: 0;
}
.section-services__slider-item-image-svg-4 {
  bottom: 0;
  height: 50%;
  width: 50%;
}
.section-services__slider-item-image-svg-5 {
  max-width: 50%;
  left: 0;
}
.section-services__slider-item-image-count {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-services__slider-item-title {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #2E2735;
  margin-bottom: 11px;
}
.section-services__slider-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #4D4357;
}

.section-advantage {
  background: center/cover no-repeat url("./../../assets/image/section-advantage.png");
  background-color: #2E2735;
  z-index: 1;
  overflow: hidden;
}
.section-advantage * {
  color: #fff;
}
.section-advantage__content {
  padding: 100px 0px;
}
@media screen and (max-width: 1024px) {
  .section-advantage__content {
    padding: 100px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-advantage__content {
    padding: 70px 16px;
  }
}
.section-advantage__title {
  margin-bottom: 48px;
}
.section-advantage__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 16px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section-advantage__items {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .section-advantage__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
.section-advantage__items-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .section-advantage__items-item {
    align-items: start;
  }
}
.section-advantage__items-item-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}
@media screen and (max-width: 1024px) {
  .section-advantage__items-item-img {
    height: 70px;
    width: 70px;
    margin-right: 16px;
  }
}
.section-advantage__items-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (max-width: 1024px) {
  .section-advantage__items-item-title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 8px;
  }
}
.section-advantage__items-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B7ACC2;
}
@media screen and (max-width: 1024px) {
  .section-advantage__items-item-text {
    font-size: 16px;
  }
}

.section-more {
  padding: 120px 0;
  background: center/cover no-repeat url("./../../assets/image/section-more.png");
}
@media screen and (max-width: 1024px) {
  .section-more {
    padding: 120px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section-more {
    padding: 70px 16px;
  }
}
.section-more__title {
  margin-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  .section-more__title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section-more__title {
    margin-bottom: 28px;
  }
}
.section-more__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.section-more__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #2E2735;
  margin-bottom: 45px;
}
@media screen and (max-width: 1024px) {
  .section-more__item-title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .section-more__item-title {
    margin-bottom: 16px;
  }
}
.section-more__item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: #2E2735;
  margin-bottom: 12px;
}
@media screen and (max-width: 1024px) {
  .section-more__item-text {
    font-size: 16px;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 768px) {
  .section-more__item-text {
    margin-bottom: 16px;
  }
}
.section-more__item-text--hide {
  max-height: 50px;
  overflow: hidden;
  position: relative;
}
.section-more__item-text--hide:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  box-shadow: inset 0px -55px 30px -25px rgba(255, 255, 255, 0.55);
}
.section-more__item-text p {
  margin-bottom: 20px;
}
.section-more__item-btn {
  width: -moz-max-content;
  width: max-content;
  padding: 17px 103px;
  border-radius: 61px;
  border: none;
  align-self: flex-end;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 425px) {
  .section-more__item-btn {
    width: 100%;
  }
}
.section-more__item-btn--hide {
  background: #33DCD8;
}