@import './../vars.scss';

.section-ecosystem{
    background: 0px -200px / cover no-repeat url('./../../assets/image/section-ecosystem-3.jpg') !important;
    @include tablet{
        background: right / cover no-repeat url('./../../assets/image/section-ecosystem-3.jpg') !important;
    }
    @include phone{
        background: 85% / cover no-repeat url('./../../assets/image/section-ecosystem-3.jpg') !important;
    }
}

.section-single{
    padding: 72px 0px;
    min-height: 630px;
    display: flex;
    align-items: center;

    @include laptop{
        padding: 70px 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    &-no-min{
        min-height: 100px;
    }

    &__content{
        z-index: 2;
        
        &-max{
            &-570{
                max-width: 570px;
                @include laptop{
                    max-width: 452px;
                }

                @include tablet{
                    max-width: 100%;
                }
            }
            &-660{
                max-width: 660px;
            }
        }

        &-max-laptop{
            &-430{
                @include laptop{
                    max-width: 430px;
                }
            }
        }

        &-title{
            margin-bottom: 36px;

            @include laptop{
                margin-bottom: 24px;
            }
        }

        &-text{
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: $color-gray;

            @include laptop{
                font-size: 16px;
            }
        }

        &-text-title{
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 24px;
            text-transform: uppercase;

            @include laptop{
                font-size: 20px;
                margin-bottom: 11px;
            }
        }

        &-list{
            margin: 0 0 50px 0;

            @include laptop{
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
            }

            &-item{
                position: relative;
                list-style: none;

                font-size: 18px;
                margin-left: 21px;
                color: $color-gray;

                &::before{
                    content: '•';
                    position: absolute;
                    font-size: 16px;
                    top: 0px;
                    left: -20px;
                }

                b{
                    font-weight: 400;
                    background: $color-blue;
                    mix-blend-mode: difference;
                    border-radius: 5px;
                }

                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    text-decoration: none;
                    color: $color-white-light;
                }

                &:hover{
                    cursor: pointer;
                }

            }

        }

        &-btn{
            margin-top: 40px;
            padding: 16px 48px;
            width: fit-content;
            box-shadow: 0px 9px 21px rgba(45, 189, 182, 0.13);
            border-radius: 61px;

            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: $color-white;
        }

        &-link{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            padding: 12px 40px;

            max-width: max-content;

            margin-top: 16px;

            transition: .4s ease;

            border: 1px solid $color-purple;
            border-radius: 61px;

            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-purple;

            background-color: $color-white;

            @include laptop{
                padding: 12px 18px;
            }

            &-wrap{
                display: flex;
                flex-wrap: wrap;
                gap: 17px;

                @include tablet{
                    gap: 12px;
                }
            }

            &-icon{
                min-height: 11px;
                max-height: 11px;
                min-width: 11px;
                max-width: 11px;
                fill: $color-purple;
                margin-left: 10px;
            }

            &:hover{
                color: $color-white;
                background-color: $color-purple;
                &-icon{
                    fill: $color-white;
                }
            }

        }

    }

    &__background{
        position: relative;
        z-index: 1;

        @include laptop{
            position: absolute;
            right: -90px;
            transform: scale(0.7);
        }

        &--no-scale{
            transform: scale(1);
            right: -185px;

            .parallax-semicircle-rotate-wrap{
                transform: scale(1);
            }
        }

        &--left{
            @include laptop{
                left: -90px;
            }
        }

        &-img{
            width: 474px;
            height: 474px;
            object-fit: cover;
        }

        &-wrap{
            width: 554px;
            height: 554px;

            position: absolute;
            top: -40px;
            left: -40px;
        }
        
        &-svg{
            width: 100%;
            height: 100%;

            transform: rotate( var(--scrollRotate) );
            pointer-events: none;

            &-p{
                position: absolute;

                padding: 12px 40px;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                text-transform: uppercase;
                color: $color-white;

                box-shadow: 0px 3px 18px rgba(116, 41, 191, 0.28);
                border-radius: 61px;

                &:hover{
                    cursor: pointer;
                }

                &-quantitative{
                    top: 102px;
                    left: -6px;
                    background-color: $color-purple;

                }

                &-quality{
                    top: 50%;
                    right: -93px;
                    background-color: $color-blue;

                    transform: translate(0%, -50%);

                    @include laptop{
                        right: 60px;
                    }
                }

                &-rooms{
                    bottom: 102px;
                    left: -6px;
                    background-color: #04B8FF;

                }

            }

        }

    }
    
    .parallax-bird{
        transform: translate(205px, -55px);

        .parallax-bird__mask {
            transform: translate(-75%, -10%);
        }

        @include laptop{
            position: relative !important;
            transform: translate(-105px, -50%) scale(0.8) !important;
            left: auto !important;
            padding: 0px;

            .parallax-bird__mask {
                transform: translate(-65%, -20%);
            }

        }

        @include tablet{
            position: relative !important;
            transform: translate(0px, 20%) scale(0.5) !important;
            left: auto !important;
            height: 270px !important;
            padding: 0px;

            .parallax-bird__mask {
                transform: translate(-60%, -20%);

                @include phone{
                    transform: translate(-70%, -20%);
                }
            }

            .parallax-bird__ellipses{
                min-height: 500px;
                min-width: 500px;
                height: 100%;
                width: 100%;
            }

        }
        

    }

    .parallax-double-semicircle{
        position: absolute;
        height: 100%;
        right: -650px;
        
        &--no-scale-laptop{
            .parallax-double-semicircle-wrap{
                transform: scale(1); 
            }
        }

        .parallax-double-semicircle-wrap{
            top: -3%; 
        }

        &--translate-left{
            transform: translate(-30%) !important;
            @include laptop{
                transform: translate(-120%) !important;
            }
        }
    }

    &--background{
        background: center/cover no-repeat url('./../../assets/image/section-help-form.png');
    }

    &--revert{
        .section-single-wrap{
            flex-direction: row-reverse;

            .section-single__background{
                width: 50%;
                height: 100%;
            }
        }
    }

    &--black{
        background-color: $color-dark;

        *{
            color: $color-white;
        }

        .section-single__content{

            &-text{
                color: $color-white-light;
            }

            &-link{
                border: 1px solid $color-blue;
                color: $color-blue;
                background-color: $color-dark;

                &-icon{
                    height: 11px;
                    width: 11px;
                    fill: $color-blue;
                    margin-left: 10px;
                }

                &:hover{
                    color: $color-white;
                    background-color: $color-blue;

                    &-icon{
                        fill: $color-white;
                    }

                }

            }

        }
    }

    &-wrap{
        position: relative;
        display: flex;
        gap: 94px;
        z-index: 1;

        @include laptop{
            gap: 0px;
        }

        @include tablet{
            flex-direction: column;
        }

        &-tablet-relative{
            @include tablet{
                flex-direction: column !important;

                .section-single__background{
                    display: flex;
                    justify-content: center;

                    margin: 0 auto;
                    position: relative;
                    right: auto;
                    width: 277px;
                    height: 277px;
                    transform: scale(0.5) translate(0%, 0px);

                    &-wrap{
                        left: auto;
                    }

                }

            }

        }

    }

}

.section-calculator{
    padding: 100px 0;
    background-color: $color-dark;

    @include laptop{
        padding: 90px;
    }

    @include tablet {
        padding: 70px 16px;
    }

    *{
        color: $color-white;
    }

    &__title{
        margin-bottom: 50px;
    }

    &__inputs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-bottom: 35px;

        @include laptop {
            gap: 12px;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        &-item{
            &-wrap{
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }

            &-title{
                font-weight: 600;
                font-size: 20px;
                line-height: 135%;
                margin-right: 12px;

                @include laptop {
                    font-size: 16px;
                    margin-right: 8px;
                }
            }

            &-svg{
                height: 21.5px;
                width: 21.5px;
            }
            
            &-input, &-select{
                width: 100%;
                background: rgba(255, 255, 255, 0.03);

                border: 1px solid #04B8FF;
                border-radius: 61px;

                padding: 12px 20px;

                font-weight: 500;
                font-size: 16px;
                line-height: 22px;

                cursor: pointer;

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                option{
                    color: $color-dark;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    /* display: none; <- Crashes Chrome on hover */
                    -webkit-appearance: none;
                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                }

            }

            select{
                appearance:none;
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
                background-position: calc(100% - 20px) center !important;
                background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
            }

            .error{
                border: 1px solid #c00000;
            }

        }

    }

    &__result{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 48px;

        @include tablet {
            flex-direction: column;
            align-items: start;
            gap: 0;
        }

        &-text{
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            text-transform: uppercase;
        }

        &-number{
            font-weight: 600;
            font-size: 64px;
            line-height: 135%;
            color: #04B8FF;
        }
    }

    &__background{
        .parallax-advantage{
            &-wrap{
                right: auto;
                left: 0;
    
                transform: scale(0.8);

                @include laptop{
                    left: -240px;
                }
            }

            &__medium{
                left: 20px;
            }

            &__circle-small{
                right: -40px;
            }

        }

    }

}
