@import './../vars.scss';

.section-ecosystem{
    background: center / cover no-repeat url('./../../assets/image/section-ecosystem-2.jpg');
    @include tablet{
        background: right / cover no-repeat url('./../../assets/image/section-ecosystem-2.jpg');
    }
    @include phone{
        background: 85% / cover no-repeat url('./../../assets/image/section-ecosystem-2.jpg');
    }
}

.section-services{
    padding: 120px 0px;

    @include laptopL{
        padding: 70px 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    &__title{
        margin-bottom: 70px;

        @include tablet {
            margin-bottom: 20px;
        }
    }

    &-wrap{
        &--laptop{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(368px, max-content));
            gap: 40px 16px;

            @include tablet{
                display: none;
            }
        }

        &--mobile{
            display: none;
            
            @include tablet{
                display: block;
            }
        }
    }

    &__item{
        &-image{
            height: 160px;
            width: 160px;
            margin-bottom: 48px;
            position: relative;

            &-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            &-svg{
                width: 100%;
                height: 100%;
                position: absolute;
                

                &-wrap{
                    width: 194px;
                    height: 194px;
                    position: absolute;

                    transform: rotate( var(--scrollRotate) );

                    top: -17px;
                    left: -17px;
                }

                &-3{
                    max-width: 50%;
                    right: 0;
                }

                &-4{ 
                    bottom: 0;
                    height: 50%;
                    width: 50%;
                }

                &-5{
                    max-width: 50%;
                    left: 0;
                }
            }

            &-count{
                font-weight: 600;
                font-size: 48px;
                line-height: 66px;
                text-align: center;
                text-transform: uppercase;
                color: $color-white;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }

        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            color: $color-dark;
            margin-bottom: 16px;
        }

        &-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $color-gray;
        }

    }

    &__slider{
        &-prev, &-next {
            top: 25%;
        }

        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;

            &-image{
                height: 160px;
                width: 160px;
                margin: 40px;
                position: relative;

                &-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                &-svg{
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    &-wrap{
                        width: 194px;
                        height: 194px;
                        position: absolute;
    
                        transform: rotate( var(--scrollRotate) );
    
                        top: -17px;
                        left: -17px;
                    }
    
                    &-3{
                        max-width: 50%;
                        right: 0;
                    }
    
                    &-4{ 
                        bottom: 0;
                        height: 50%;
                        width: 50%;
                    }
    
                    &-5{
                        max-width: 50%;
                        left: 0;
                    }
                }

                &-count{
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 66px;
                    text-align: center;
                    text-transform: uppercase;
                    color: $color-white;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            &-title{
                width: 100%;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                color: $color-dark;
                margin-bottom: 11px;
            }

            &-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: $color-gray;
            }

        }

    }

}

.section-advantage{
    background: center / cover no-repeat url('./../../assets/image/section-advantage.png');
    background-color: $color-dark;
    z-index: 1;
    overflow: hidden;

    *{
        color: $color-white;
    }

    &__content{
        padding: 100px 0px;

        @include laptop{
            padding: 100px 90px;
        }

        @include tablet{
            padding: 70px 16px;
        }
    }

    &__title{
        margin-bottom: 48px;
    }

    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px 16px;
        position: relative;
        z-index: 2;

        @include laptop{
            gap: 20px;
        }

        @include tablet{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &-item{
            display: flex;
            align-items: center;

            @include laptop{
                align-items: start;
            }

            &-img{
                height: 100px;
                width: 100px;
                margin-right: 20px;

                @include laptop{
                    height: 70px;
                    width: 70px;
                    margin-right: 16px;
                }
            }

            &-title{
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                text-transform: uppercase;
                margin-bottom: 12px;

                @include laptop{
                    font-size: 20px;
                    line-height: 27px;
                    margin-bottom: 8px;
                }
            }

            &-text{
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: $color-white-light;

                @include laptop{
                    font-size: 16px;
                }
            }
        }
    }
}

.section-which{
    padding: 120px 0;

    @include laptop{
        padding: 120px 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    &__title{
        margin-bottom: 40px;

        @include laptop{
            margin-bottom: 24px;
        }
    }

    &__text{
        font-weight: 500;
        font-size: 20px;
        line-height: 135%;
        color: $color-dark;
        margin-bottom: 70px;

        @include laptop{
            font-size: 20px;
            margin-bottom: 50px;
        }

        @include tablet{
            font-size: 18px;
            margin-bottom: 28px;
        }
    }

    &-wrap{
        &--laptop{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(368px, max-content));
            gap: 36px 10px;

            @include laptop{
                grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
            }

            @include tablet{
                display: none;
            }
        }

        &--mobile{
            display: none;
            
            @include tablet{
                display: block;
            }
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;

        &-image{
            height: 160px;
            width: 160px;
            margin-bottom: 32px;
            position: relative;

            &-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            &-svg{
                width: 100%;
                height: 100%;
                position: absolute;
                
                &-wrap{
                    width: 194px;
                    height: 194px;
                    position: absolute;

                    transform: rotate( var(--scrollRotate) );

                    top: -17px;
                    left: -17px;
                }

                &-2{
                    width: 50%;
                    right: 0;
                }
                
                &-3{ 
                    height: 50%;
                    width: 50%;
                    left: 0;
                    bottom: 0;
                }

                &-4{
                    height: 50%;
                    right: 0;
                }

                &-6{
                    width: 50%;
                    left: 0;
                }

                &-7{ 
                    height: 50%;
                    width: 50%;
                    right: 0;
                    top: 0;
                }

                &-8{
                    height: 50%;
                    bottom: 0;
                }

            }

        }

        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            color: $color-dark;
        }

    }

    &__slider{
        &-prev, &-next {
            top: 40%;
        }

        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;

            &-image{
                height: 149px;
                width: 149px;
                margin: 20px;
                position: relative;

                &-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                &-svg{
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    &-wrap{
                        width: 184px;
                        height: 184px;
                        position: absolute;
    
                        transform: rotate( var(--scrollRotate) );
    
                        top: -17px;
                        left: -17px;
                    }
    
                    &-2{
                        width: 50%;
                        right: 0;
                    }
                    
                    &-3{ 
                        height: 50%;
                        width: 50%;
                        left: 0;
                        bottom: 0;
                    }
    
                    &-4{
                        height: 50%;
                        right: 0;
                    }
    
                    &-6{
                        width: 50%;
                        left: 0;
                    }
    
                    &-7{ 
                        height: 50%;
                        width: 50%;
                        right: 0;
                        top: 0;
                    }
    
                    &-8{
                        height: 50%;
                        bottom: 0;
                    }
                    
                }

            }

            &-title{
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                text-align: center;
                color: $color-dark;
                max-width: 230px;
            }

        }

    }

}

.section-more{
    padding: 120px 0;
    background: center / cover no-repeat url('./../../assets/image/section-more.png');

    @include laptop{
        padding: 120px 90px;
    }

    @include tablet{
        padding: 70px 16px;
    }

    &__title{
        margin-bottom: 70px;

        @include laptop{
            margin-bottom: 50px;
        }

        @include tablet{
            margin-bottom: 28px;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            color: $color-dark;
            margin-bottom: 45px;

            @include laptop{
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 24px;
            }

            @include tablet{
                margin-bottom: 16px;
            }
        }

        &-text{
            font-weight: 500;
            font-size: 18px;
            line-height: 135%;
            color: $color-dark;
            margin-bottom: 12px;

            @include laptop{
                font-size: 16px;
                margin-bottom: 36px;
            }

            @include tablet{
                margin-bottom: 16px;
            }

            &--hide{
                max-height: 50px;
                overflow: hidden;
                position: relative;

                &:after{
                    content: "";
                    position: absolute; top: 0; bottom: 0; left: 0px; right: 0px;
                    box-shadow: inset 0px -55px 30px -25px rgb(255 255 255 / 55%);
                }
            }

            p{
                margin-bottom: 20px;
            }
        }

        &-btn{
            width: max-content;
            padding: 17px 103px;
            border-radius: 61px;
            border: none;
            align-self: flex-end;

            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: $color-white;

            @include phone{
                width: 100%;
            }

            &--hide{
                background: $color-blue;
            }
        }
    }

}