.section__anim {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: inherit;
}
.section__anim h2 {
  margin-bottom: 100px;
}
.section__anim-cirlcle-1 {
  position: relative;
}
.section__anim-cirlcle-1-img {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.section__anim-cirlcle-1-svg {
  position: absolute;
  left: -30px;
  top: -70px;
  transform: translate(0%, calc(var(--scrollTop) / 10));
}
.section__anim-cirlcle-2 {
  position: relative;
}
.section__anim-cirlcle-2-img {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.section__anim-cirlcle-2-svg {
  position: absolute;
  left: -30px;
  top: calc(var(--scrollTop) / 10 - 175px);
}

.section__info {
  height: 500px;
  position: relative;
  margin: 50px auto;
  padding: 24px;
  width: var(--scrollTop);
  background-color: rgb(188, 107, 188);
}