.parallax-circle-1__wrap {
  position: absolute;
  right: 0;
  transform: translate(35%, 0%) scale(calc(var(--parallax-scale)));
}
@media screen and (max-width: 1024px) {
  .parallax-circle-1__wrap {
    transform: translate(5%, 0%) scale(calc(-0.2 + var(--parallax-scale)));
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-1__wrap {
    right: auto;
    transform: translate(0%, 0%) scale(calc(-0.5 + var(--parallax-scale)));
  }
}
@media screen and (max-width: 1024px) {
  .parallax-circle-1__wrap--right {
    transform: translate(15%, 0%) scale(calc(-0.2 + var(--parallax-scale)));
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-1__wrap--right {
    transform: translate(0%, 0%) scale(calc(-0.4 + var(--parallax-scale)));
  }
}
.parallax-circle-1__img-wrap {
  height: 539px;
  width: 539px;
  border-radius: 50%;
  overflow: hidden;
}
.parallax-circle-1__img {
  position: relative;
  transform: translate(0%, calc(-20% + var(--parallax-val) + var(--scrollTop) / 10));
  height: 120%;
}
@media screen and (max-width: 768px) {
  .parallax-circle-1__img {
    transform: translate(0%, calc(-25% + var(--parallax-val-tablet) + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-circle-1__img {
    transform: translate(0%, calc(-25% + var(--parallax-val-mobile) + var(--scrollTop) / 10));
  }
}
.parallax-circle-1__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
  width: 35%;
  background-color: #fff;
  border-radius: 50%;
}
.parallax-circle-1__ellipse {
  position: absolute;
  top: -20%;
  transform: translate(15%, calc(0% + var(--parallax-val) + var(--scrollTop) / 10));
  height: 649px;
  width: 649px;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .parallax-circle-1__ellipse {
    transform: translate(15%, calc(-10% + var(--parallax-val-tablet) + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-circle-1__ellipse {
    transform: translate(15%, calc(-10% + var(--parallax-val-mobile) + var(--scrollTop) / 10));
  }
}

@media screen and (max-width: 768px) {
  .parallax-bird {
    position: relative !important;
    transform: translate(0%, 0) scale(0.5) !important;
    left: auto !important;
    height: auto !important;
    padding: 0px;
  }
}
.parallax-bird__mask {
  width: 1343px;
  height: 900px;
  top: 90px;
  left: 0px;
  position: absolute;
  transform: translate(-75%, 0%);
}
@media screen and (max-width: 1440px) {
  .parallax-bird__mask {
    transform: translate(-65%, 0%);
  }
}
@media screen and (max-width: 768px) {
  .parallax-bird__mask {
    transform: translate(-35%, 0%);
  }
}
@media screen and (max-width: 425px) {
  .parallax-bird__mask {
    transform: translate(-60%, 0%);
  }
}
.parallax-bird__mask-img {
  position: absolute;
  right: 20px;
  top: calc(0% - var(--scrollTop) / 10);
  width: 1343px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: url(./../../assets/svg/section-ecosystem-list-2-mask.svg);
          mask-image: url(./../../assets/svg/section-ecosystem-list-2-mask.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: right calc(0% + var(--scrollTop) / 10);
          mask-position: right calc(0% + var(--scrollTop) / 10);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .parallax-bird__mask-img {
    -webkit-mask-position: right calc(0% + var(--scrollTop) / 20);
            mask-position: right calc(0% + var(--scrollTop) / 20);
  }
}
.parallax-bird__ellipses {
  position: absolute;
  transform: translate(-65%, 0%);
  left: 0px;
  width: 536px;
}
.parallax-bird__ellipses-left {
  transform: translate(0, calc(15% - var(--scrollTop) / 11));
}
@media screen and (max-width: 425px) {
  .parallax-bird__ellipses-left {
    transform: translate(0, calc(30% - var(--scrollTop) / 11));
  }
}
.parallax-bird__ellipses-right {
  transform: translate(0, calc(-15% + var(--scrollTop) / 11));
}
@media screen and (max-width: 425px) {
  .parallax-bird__ellipses-right {
    transform: translate(0, calc(-30% + var(--scrollTop) / 11));
  }
}
@media screen and (max-width: 1440px) {
  .parallax-bird__ellipses {
    transform: translate(-40%, 0%);
  }
}
@media screen and (max-width: 1024px) {
  .parallax-bird__ellipses {
    transform: translate(-30%, 0%);
  }
}
@media screen and (max-width: 768px) {
  .parallax-bird__ellipses {
    position: relative;
    transform: translate(0, 0);
    display: flex;
  }
}

.parallax-circle-2 {
  z-index: 1;
}
.parallax-circle-2__mask {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  transform: translate(40%, 0%);
}
@media screen and (max-width: 1024px) {
  .parallax-circle-2__mask {
    transform: translate(30%, 0);
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-2__mask {
    transform: translate(15%, 0) scale(0.5);
  }
}
.parallax-circle-2__mask-img {
  position: absolute;
  right: 20px;
  top: calc(10% - var(--scrollTop) / 10);
  width: 1121px;
  height: 1100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: url(./../../assets/svg/section-ecosystem-list-3-mask.svg);
          mask-image: url(./../../assets/svg/section-ecosystem-list-3-mask.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: 50px calc(-90% + var(--scrollTop) / 10);
          mask-position: 50px calc(-90% + var(--scrollTop) / 10);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .parallax-circle-2__mask-img {
    height: 1400px;
    right: 180px;
    top: calc(15% - var(--scrollTop) / 10);
    -webkit-mask-image: url(./../../assets/svg/section-ecosystem-list-3-mask--laptop.svg);
            mask-image: url(./../../assets/svg/section-ecosystem-list-3-mask--laptop.svg);
    -webkit-mask-position: left calc(255% + var(--scrollTop) / 10);
            mask-position: left calc(255% + var(--scrollTop) / 10);
    -webkit-mask-size: 165%;
            mask-size: 165%;
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-2__mask-img {
    top: calc(-105% - var(--scrollTop) / 10);
    -webkit-mask-image: url(./../../assets/svg/section-ecosystem-list-3-mask.svg);
            mask-image: url(./../../assets/svg/section-ecosystem-list-3-mask.svg);
    -webkit-mask-position: left calc(255% + var(--scrollTop) / 10);
            mask-position: left calc(255% + var(--scrollTop) / 10);
    -webkit-mask-size: 206%;
            mask-size: 206%;
    right: -270px;
    height: 1620px;
    width: 1235px;
  }
}
.parallax-circle-2__circle {
  z-index: 2;
  transform: translate(70%, 0) rotate(var(--scrollRotate));
}
@media screen and (max-width: 1024px) {
  .parallax-circle-2__circle {
    height: 400px;
    width: 400px;
    transform: translate(50%, 0%) rotate(var(--scrollRotate));
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-2__circle {
    transform: translate(0%, 0) rotate(var(--scrollRotate));
  }
}

@media screen and (max-width: 768px) {
  .parallax-circle-3 {
    transform: translate(0%, 0%) !important;
  }
}
.parallax-circle-3__wrap {
  left: 0;
  position: absolute;
  transform: translate(-50%, 0%);
}
@media screen and (max-width: 1440px) {
  .parallax-circle-3__wrap {
    transform: translate(-25%, 0%);
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-3__wrap {
    left: auto;
    transform: translate(0%, 0%) scale(0.5);
  }
}
.parallax-circle-3__img-wrap {
  height: 539px;
  width: 539px;
  border-radius: 50%;
  overflow: hidden;
}
.parallax-circle-3__img {
  position: relative;
  transform: translate(0%, calc(var(--parallax-val) - 50% + var(--scrollTop) / 10));
  height: 120%;
}
@media screen and (max-width: 1024px) {
  .parallax-circle-3__img {
    transform: translate(0%, calc(var(--parallax-val-laptop) - 60% + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-3__img {
    transform: translate(0%, calc(var(--parallax-val-mobile) - 70% + var(--scrollTop) / 12));
  }
}
.parallax-circle-3__ellipse {
  position: absolute;
  top: 0%;
  transform: translate(-35%, calc(var(--parallax-val) - 50% + var(--scrollTop) / 10));
  height: 649px;
  width: 649px;
}
@media screen and (max-width: 1024px) {
  .parallax-circle-3__ellipse {
    transform: translate(-30%, calc(var(--parallax-val-laptop) - 65% + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-circle-3__ellipse {
    transform: translate(-35%, calc(var(--parallax-val-mobile) - 90% + var(--scrollTop) / 10));
  }
}

.parallax-resources-wrap {
  position: absolute;
  bottom: 50%;
  right: 140px;
  transform: translate(0%, 50%);
  height: 555px;
  width: 555px;
}
.parallax-resources-wrap--457 {
  height: 457px;
  width: 457px;
}
@media screen and (max-width: 1024px) {
  .parallax-resources-wrap {
    transform: translate(0%, calc(50% + var(--parallax-val-laptop))) scale(0.7);
    right: -50px;
  }
}
@media screen and (max-width: 768px) {
  .parallax-resources-wrap {
    top: -125px;
    transform: translate(0%, calc(-15% + var(--parallax-val-tablet))) scale(0.6);
    right: auto;
  }
}
@media screen and (max-width: 425px) {
  .parallax-resources-wrap {
    transform: translate(0%, calc(-15% + var(--parallax-val-mobile))) scale(0.4);
    top: -270px;
  }
}
.parallax-resources__img {
  transform: translate(0%, calc(var(--parallax-val) + 100% - var(--scrollTop) / 10));
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .parallax-resources__img {
    transform: translate(0%, calc(var(--parallax-val-laptop) + 135% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-resources__img {
    transform: translate(0%, calc(var(--parallax-val-tablet) + 150% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-resources__img {
    transform: translate(0%, calc(var(--parallax-val-mobile) + 220% - var(--scrollTop) / 10));
  }
}
.parallax-resources__small {
  position: absolute;
  top: 0;
  right: 31px;
  transform: translate(0%, calc(var(--parallax-val) - 560% + var(--scrollTop) / 10));
}
@media screen and (max-width: 1024px) {
  .parallax-resources__small {
    transform: translate(0%, calc(var(--parallax-val-laptop) - 560% + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-resources__small {
    transform: translate(0%, calc(var(--parallax-val-tablet) - 560% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-resources__small {
    transform: translate(0%, calc(var(--parallax-val-mobile) - 560% + var(--scrollTop) / 10));
  }
}
.parallax-resources__medium {
  position: absolute;
  top: 0;
  left: -93px;
  transform: translate(0%, calc(var(--parallax-val) - 235% + var(--scrollTop) / 10));
}
@media screen and (max-width: 1024px) {
  .parallax-resources__medium {
    transform: translate(0%, calc(var(--parallax-val-laptop) - 235% + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-resources__medium {
    transform: translate(0%, calc(var(--parallax-val-tablet) - 235% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-resources__medium {
    transform: translate(0%, calc(var(--parallax-val-mobile) - 235% + var(--scrollTop) / 10));
  }
}
.parallax-resources__circle {
  position: absolute;
  bottom: 0;
  right: -130px;
  transform: translate(0%, calc(var(--parallax-val) - 125% + var(--scrollTop) / 10));
}
@media screen and (max-width: 1024px) {
  .parallax-resources__circle {
    transform: translate(0%, calc(var(--parallax-val-laptop) - 115% + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-resources__circle {
    transform: translate(0%, calc(var(--parallax-val-tablet) - 115% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-resources__circle {
    transform: translate(0%, calc(var(--parallax-val-mobile) - 115% + var(--scrollTop) / 10));
  }
}
.parallax-resources--reverse .parallax-resources-wrap {
  position: absolute;
  bottom: 50%;
  left: 140px;
  transform: translate(0%, 50%) scaleX(-1);
  height: 555px;
  width: 555px;
}
@media screen and (max-width: 1024px) {
  .parallax-resources--reverse .parallax-resources-wrap {
    transform: translate(0%, 50%) scale(0.7) scaleX(-1);
    left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .parallax-resources--reverse .parallax-resources-wrap {
    top: -125px;
    transform: translate(0%, -15%) scale(0.6) scaleX(-1);
    left: auto;
  }
}
@media screen and (max-width: 425px) {
  .parallax-resources--reverse .parallax-resources-wrap {
    transform: translate(0%, calc(var(--parallax-val-mobile) - 15%)) scale(0.4) scaleX(-1);
    top: -270px;
  }
}
.parallax-resources--reverse .parallax-resources-img {
  transform: translate(0%, calc(100% - var(--scrollTop) / 10)) scaleX(1);
}
@media screen and (max-width: 1024px) {
  .parallax-resources--reverse .parallax-resources-img {
    transform: scaleX(1) translate(0%, calc(var(--parallax-val-laptop) + 135% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-resources--reverse .parallax-resources-img {
    transform: scaleX(1) translate(0%, calc(var(--parallax-val-mobile) + 150% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-resources--reverse .parallax-resources-img {
    transform: scaleX(1) translate(0%, calc(var(--parallax-val-mobile) + 220% - var(--scrollTop) / 10));
  }
}

@media screen and (max-width: 425px) {
  .parallax-tools {
    top: auto;
    bottom: 0;
  }
}
.parallax-tools__circle-1 {
  transform: translate(50%, calc(-40% + var(--scrollTop) / 10));
}
@media screen and (max-width: 425px) {
  .parallax-tools__circle-1 {
    transform: translate(45%, calc(310% - var(--scrollTop) / 10));
  }
}
.parallax-tools__circle-2 {
  transform: translate(-30%, calc(195% - var(--scrollTop) / 10));
}
@media screen and (max-width: 1024px) {
  .parallax-tools__circle-2 {
    transform: translate(-30%, calc(308% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-tools__circle-2 {
    transform: translate(-30%, calc(520% - var(--scrollTop) / 10));
  }
}

.parallax-mission__ellipse-1 {
  transform: translate(0%, calc(-305% + var(--scrollTop) / 10));
}
@media screen and (max-width: 768px) {
  .parallax-mission__ellipse-1 {
    transform: translate(0%, calc(-335% + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-mission__ellipse-1 {
    transform: translate(0%, calc(-455% + var(--scrollTop) / 10));
  }
}
.parallax-mission__ellipse-2 {
  transform: translate(100%, calc(270% - var(--scrollTop) / 10));
}
@media screen and (max-width: 1024px) {
  .parallax-mission__ellipse-2 {
    transform: translate(100%, calc(290% - var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-mission__ellipse-2 {
    transform: translate(100%, calc(390% - var(--scrollTop) / 10));
  }
}

.parallax-help-link__img {
  transform: translate(0, calc(var(--parallax-val) + var(--scrollTop) / 10));
}
@media screen and (max-width: 1024px) {
  .parallax-help-link__img {
    transform: translate(0, calc(var(--parallax-val) + var(--scrollTop) / 15));
  }
}
@media screen and (max-width: 768px) {
  .parallax-help-link__img {
    transform: translate(0, calc(30% + var(--parallax-val) + var(--scrollTop) / 11)) rotate(90deg);
    height: 768px !important;
    width: 100% !important;
    left: 0px;
    right: auto;
  }
}
@media screen and (max-width: 425px) {
  .parallax-help-link__img {
    transform: translate(0, calc(10% + var(--parallax-val) + var(--scrollTop) / 11)) rotate(90deg);
  }
}

.parallax-tasks__ellipse-wrap {
  transform: rotate(var(--scrollRotate));
}

.parallax-advantage {
  position: relative;
  z-index: 1;
}
.parallax-advantage-wrap {
  position: absolute;
  right: -400px;
  bottom: 0;
  width: 392px;
  height: 500px;
}
@media screen and (max-width: 1024px) {
  .parallax-advantage-wrap {
    transform: scale(0.75);
    right: 0px;
    bottom: -50px;
    transform: translate(0%, calc(var(--parallax-val-laptop)));
  }
}
.parallax-advantage__small {
  position: absolute;
  top: 0;
  right: 120px;
  transform: translate(0%, calc(var(--parallax-val) - 620% + var(--scrollTop) / 5));
}
.parallax-advantage__medium {
  position: absolute;
  left: -60px;
  top: 40%;
  height: 162px;
  width: 162px;
  transform: translate(0%, calc(var(--parallax-val) - 300% + var(--scrollTop) / 7));
}
.parallax-advantage__circle {
  position: absolute;
  bottom: -190px;
  width: 392px;
  height: 392px;
  transform: translate(0%, calc(var(--parallax-val) - 70% + var(--scrollTop) / 10));
}
.parallax-advantage__circle-small {
  position: absolute;
  bottom: 345px;
  right: -110px;
  width: 225px;
  height: 225px;
  transform: translate(0%, calc(var(--parallax-val) - 70% + var(--scrollTop) / 8)) rotate(140deg);
}

.parallax-triangle-wrap {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .parallax-triangle-wrap--revert {
    transform: translate(30%, 0%) scale(10.8);
  }
  .parallax-triangle-wrap--revert .parallax-triangle__geometry {
    position: absolute;
    top: -70px;
    right: -2px;
    left: auto;
    z-index: 2;
    width: 0;
    height: 0;
    border-bottom: 800px solid #fff;
    border-left: 300px solid transparent;
    border-top: none;
    border-right: none;
  }
  .parallax-triangle-wrap--revert .parallax-triangle__geometry--bottom {
    top: auto;
    right: auto;
    bottom: -40px;
    left: 319px;
    border-top: none;
    border-left: none;
    border-bottom: 200px solid #fff;
    border-right: 120px solid transparent;
  }
  .parallax-triangle-wrap--revert .parallax-triangle__img {
    transform: translate(-7%, calc(var(--parallax-val-laptop) + var(--scrollTop) / 10)) scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .parallax-triangle-wrap--revert {
    transform: translate(30%, 0%) scale(10.8);
  }
  .parallax-triangle-wrap--revert .parallax-triangle__geometry {
    position: absolute;
    top: -70px;
    right: 70%;
    left: auto;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 765px solid #fff;
    border-right: 540px solid transparent;
  }
  .parallax-triangle-wrap--revert .parallax-triangle__geometry--bottom {
    top: auto;
    left: auto;
    bottom: -70px;
    right: 0px;
    border-top: none;
    border-right: none;
    border-bottom: 170px solid #fff;
    border-left: 1000px solid transparent;
  }
  .parallax-triangle-wrap--revert .parallax-triangle__img {
    height: 120%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: translate(0%, calc(var(--parallax-val-tablet) + var(--scrollTop) / 10)) scale(1.1);
  }
}
@media screen and (max-width: 425px) {
  .parallax-triangle-wrap--revert {
    transform: translate(30%, 0%) scale(10.8);
  }
  .parallax-triangle-wrap--revert .parallax-triangle__geometry {
    position: absolute;
    top: -70px;
    right: 70%;
    left: auto;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 765px solid #fff;
    border-right: 540px solid transparent;
  }
  .parallax-triangle-wrap--revert .parallax-triangle__geometry--bottom {
    top: auto;
    left: auto;
    bottom: -70px;
    right: 0px;
    border-top: none;
    border-right: none;
    border-bottom: 170px solid #fff;
    border-left: 1000px solid transparent;
  }
  .parallax-triangle-wrap--revert .parallax-triangle__img {
    height: 120%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: translate(0%, calc(var(--parallax-val-mobile) + var(--scrollTop) / 10)) scale(1.1);
  }
}
@media screen and (max-width: 1024px) {
  .parallax-triangle-wrap {
    transform: translate(30%, 0%) scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .parallax-triangle-wrap {
    transform: translate(0%, 0%) scale(1) !important;
    height: 350px;
    width: 100%;
  }
}
.parallax-triangle__geometry {
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 765px solid #fff;
  border-right: 540px solid transparent;
}
.parallax-triangle__geometry--bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0px;
  border-top: none;
  border-right: none;
  border-bottom: 170px solid #fff;
  border-left: 1000px solid transparent;
}
.parallax-triangle__img {
  z-index: 1;
  transform: translate(0%, calc(var(--parallax-val) + var(--scrollTop) / 10));
}
@media screen and (max-width: 1024px) {
  .parallax-triangle__img {
    transform: translate(0%, calc(var(--parallax-val-laptop) + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 768px) {
  .parallax-triangle__img {
    transform: translate(0%, calc(var(--parallax-val-tablet) + var(--scrollTop) / 10));
  }
}
@media screen and (max-width: 425px) {
  .parallax-triangle__img {
    transform: translate(0%, calc(var(--parallax-val-mobile) + var(--scrollTop) / 10));
  }
}
.parallax-triangle--right {
  justify-content: end;
}
.parallax-triangle--black .parallax-triangle__geometry {
  border-top: 765px solid #2E2735;
}
@media screen and (max-width: 1024px) {
  .parallax-triangle--black .parallax-triangle__geometry {
    border-top: 1140px solid #2E2735;
  }
}
.parallax-triangle-left-20 .parallax-triangle-wrap {
  transform: translate(-20%, 0);
}
@media screen and (max-width: 1024px) {
  .parallax-triangle-left-20 .parallax-triangle-wrap {
    transform: translate(-40%, 0);
  }
}

.parallax-double-semicircle-wrap {
  position: absolute;
  right: 15%;
  z-index: 1;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .parallax-double-semicircle-wrap {
    right: -5%;
    bottom: -10%;
  }
}
@media screen and (max-width: 1024px) {
  .parallax-double-semicircle-wrap {
    right: -10%;
    bottom: -15%;
    transform: scale(0.8);
  }
}
.parallax-double-semicircle__ellipse {
  height: 570px;
  width: 285px;
}
.parallax-double-semicircle__ellipse-1 {
  transform: translate(0%, calc(var(--parallax-val) - var(--scrollTop) / 10));
}
@media screen and (max-width: 768px) {
  .parallax-double-semicircle__ellipse-1 {
    transform: translate(0%, calc(var(--parallax-val-tablet) - var(--scrollTop) / 10));
  }
}
.parallax-double-semicircle__ellipse-2 {
  transform: translate(0%, calc(var(--parallax-val) + var(--scrollTop) / 10));
}
@media screen and (max-width: 768px) {
  .parallax-double-semicircle__ellipse-2 {
    transform: translate(0%, calc(var(--parallax-val-tablet) + var(--scrollTop) / 10));
  }
}

.parallax-semicircle-rotate {
  justify-content: start;
}
.parallax-semicircle-rotate-wrap {
  position: relative;
  width: 645px;
  height: 645px;
  padding: 85px;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .parallax-semicircle-rotate-wrap {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1024px) {
  .parallax-semicircle-rotate-wrap {
    width: 516px;
    height: 516px;
    padding: 60px;
  }
}
@media screen and (max-width: 768px) {
  .parallax-semicircle-rotate-wrap {
    width: 360px;
    height: 360px;
    padding: 40px;
    margin: 0 auto;
  }
}
.parallax-semicircle-rotate-wrap--left-10 {
  left: 10%;
}
@media screen and (max-width: 1440px) {
  .parallax-semicircle-rotate-wrap--left-10 {
    left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .parallax-semicircle-rotate-wrap--left-10 {
    left: -5%;
  }
}
@media screen and (max-width: 768px) {
  .parallax-semicircle-rotate-wrap--left-10 {
    left: 0%;
  }
}
@media screen and (max-width: 1024px) {
  .parallax-semicircle-rotate-wrap--left-laptop-20 {
    left: -20%;
  }
}
@media screen and (max-width: 1024px) {
  .parallax-semicircle-rotate-wrap--left-bottom {
    transform: scale(0.9) translate(-10%, 10%);
  }
}
@media screen and (max-width: 768px) {
  .parallax-semicircle-rotate-wrap--right-bottom {
    right: 0;
    bottom: 0;
    transform: scale(0.7);
  }
}
.parallax-semicircle-rotate__ellipse {
  height: 100%;
}
.parallax-semicircle-rotate__ellipse-wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  transform: rotate(var(--scrollRotate));
}
.parallax-semicircle-rotate__ellipse-wrap-quarter {
  z-index: 2;
}
.parallax-semicircle-rotate__ellipse-wrap-quarter .parallax-semicircle-rotate__ellipse {
  height: 50%;
  width: 50%;
  transform: rotate(90deg);
}
.parallax-semicircle-rotate__ellipse-wrap-double {
  top: 6%;
  z-index: 2;
  height: 88%;
}
.parallax-semicircle-rotate__ellipse-wrap-double .parallax-semicircle-rotate__ellipse {
  height: 100%;
  width: 100%;
  transform: rotate(90deg);
}
.parallax-semicircle-rotate-fill {
  position: absolute;
}
.parallax-semicircle-rotate-fill .parallax-semicircle-rotate__ellipse-wrap {
  position: relative;
  top: auto;
  right: -185px;
  left: auto;
  bottom: -115px;
  z-index: 2;
  width: 430px;
  height: 430px;
}
@media screen and (max-width: 1440px) {
  .parallax-semicircle-rotate-fill .parallax-semicircle-rotate__ellipse-wrap {
    right: 0;
  }
}
.parallax-semicircle-rotate-fill .parallax-semicircle-rotate__ellipse-wrap .parallax-semicircle-rotate__ellipse {
  height: 100%;
  width: 100%;
}
.parallax-semicircle-rotate__img {
  width: 100%;
  height: 100%;
  position: inherit;
  z-index: 2;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.parallax-semicircle-rotate--absolute {
  position: absolute !important;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: -15%;
  top: -40px;
}
@media screen and (max-width: 768px) {
  .parallax-semicircle-rotate--absolute {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    height: 300px;
  }
}