.slider {
  width: 100%;
  position: relative;
}
.slider__line {
  width: auto;
  height: auto;
  display: flex;
  transition: all 1s ease;
}
.slider__line-wrap {
  width: 100%;
  overflow: hidden;
}
.slider__btn {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.slider__btn-prev {
  left: -60px;
}
@media screen and (max-width: 1440px) {
  .slider__btn-prev {
    left: 0px;
  }
}
.slider__btn-next {
  right: -60px;
}
@media screen and (max-width: 1440px) {
  .slider__btn-next {
    right: 0px;
  }
}
.slider__btn svg {
  width: 23px;
  height: 49px;
}
.slider__btn:hover {
  cursor: pointer;
}
.slider--disable .slider__btn-prev, .slider--disable .slider__btn-next {
  display: none;
}
@media screen and (max-width: 1440px) {
  .slider {
    padding: 0px 30px;
  }
}