@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Manrope", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1136px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-max {
  max-width: 1920px;
  margin: 0 auto;
}

.header-plug {
  height: 142px;
}
@media screen and (max-width: 1024px) {
  .header-plug {
    height: 124px;
  }
}
@media screen and (max-width: 768px) {
  .header-plug {
    height: 112px;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  height: auto;
  z-index: 3;
  box-shadow: 0px 1px 13px rgba(116, 41, 191, 0.08);
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 90px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 24px 15px;
  }
}
.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content-logo {
  width: 156px;
  height: 82px;
}
@media screen and (max-width: 1024px) {
  .header__content-logo {
    width: 123px;
    height: 64px;
  }
}
.header__content-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 674px;
  width: 100%;
}
.header__content-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  list-style: none;
}
@media screen and (max-width: 1024px) {
  .header__content-list {
    display: none;
  }
}
.header__content-wrap {
  display: flex;
  gap: 36px;
}
@media screen and (max-width: 768px) {
  .header__content-tel {
    display: none;
  }
}
.header__content-tel-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #2E2735;
  text-decoration: none;
}
.header__content-tel-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #33DCD8;
}
.header__content-menu {
  padding: 16px 32px;
  border-radius: 61px;
  border: none;
  display: none !important;
}
@media screen and (max-width: 1024px) {
  .header__content-menu {
    display: flex !important;
  }
}
.header__content-menu-icon {
  z-index: 2;
  width: 31px;
  height: 20px;
}
.header__menu {
  position: absolute;
  top: 100%;
  right: 90px;
  padding: 40px 28px;
  background: #fff;
  box-shadow: 0px 1px 13px rgba(116, 41, 191, 0.08);
  border-radius: 0px 0px 10px 10px;
  z-index: 2;
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu {
    width: calc(100% - 30px);
    right: 15px;
  }
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 231px;
}
.header__menu-list-item {
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #2E2735;
}
.header__menu-list-item:hover {
  color: #7429BF;
}
.header__menu-tel {
  margin-top: 25px;
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu-tel {
    display: block;
  }
}
.header__menu-tel-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #2E2735;
  text-decoration: none;
}
.header__menu-tel-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #33DCD8;
}

.footer {
  background-color: #18151C;
  padding: 60px 0;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 40px 90px;
  }
}
.footer__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__content-logo {
  width: 156px;
  height: 82px;
}
@media screen and (max-width: 1024px) {
  .footer__content-logo {
    width: 111px;
    height: 58px;
    margin-right: 60px;
  }
}
.footer__content-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 674px;
  width: 100%;
}
.footer__content-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #B7ACC2;
  list-style: none;
  padding: 0px 4px;
}
.footer__content-tel-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  text-decoration: none;
}
.footer__content-tel-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #33DCD8;
}
@media screen and (max-width: 1024px) {
  .footer__content-tel {
    display: none;
  }
}

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  color: #2E2735;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 33px;
  }
}

.linear-gradient-btn {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.linear-gradient-btn__background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  background: linear-gradient(244.27deg, #3CDDE4 13.54%, #7E23D1 87.32%);
}
.linear-gradient-btn__background--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition: 0.4s ease;
  background: linear-gradient(44.27deg, #3CDDE4 13.54%, #7E23D1 87.32%);
}
.linear-gradient-btn__text {
  z-index: 3;
}
.linear-gradient-btn:hover {
  cursor: pointer;
}
.linear-gradient-btn:hover .linear-gradient-btn__background--hover {
  opacity: 1;
}