$color-white: #fff;
$color-white-light: #B7ACC2;
$color-black: #18151C;
$color-dark: #2E2735;
$color-gray: #4D4357;
$color-purple: #7429BF;
$color-blue: #33DCD8;

$width-content: 1136px;
$width-max: 1920px;


@mixin phone {
    @media screen and (max-width: 425px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin laptopL {
    @media screen and (max-width: 1440px) {
        @content;
    }
}